/* Font */
@font-face {
	font-family: robotoM;
    src: url("../../both/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: robotoL;
    src: url("../../both/fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: dinL;
    src: url("../../both/fonts/DINLight.ttf");
}

@font-face {
	font-family: dinR;
    src: url("../../both/fonts/DINRegular.ttf");
}

@font-face {
	font-family: dinM;
    src: url("../../both/fonts/DINMedium.ttf");
}

@font-face {
	font-family: opensansB;
    src: url("../../both/fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: opensansL;
    src: url("../../both/fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: avenirLo;
    src: url("../../both/fonts/Avenir-LightOblique.ttf");
}

@font-face {
	font-family: ralewayB;
    src: url("../../both/fonts/Raleway-Bold.ttf");
}

@font-face {
	font-family: avenirBo;
    src: url("../../both/fonts/Avenir-BookOblique.ttf");
}

@font-face {
	font-family: MyriadPro-Regular;
    src: url("../../both/fonts/MyriadPro-Regular.otf");
}
/* End Font */

/* Other */
.name_elipse{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.5em;
}

.res_border{
	border-bottom: 1px solid #dddddd;
}

.pro_not_found{
	margin-bottom:35px;
	text-align:center;
}

.height_auto{
	height:auto !important;
}

.margin_cus{
	margin:auto 0 !important;
}

.align_center{
	display:block;
	margin:auto;
}

.align_right{
	display:block;
	margin:auto 0 auto auto;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.ds_block{
	display:block !important;
}

.img_width{
	width:100%;
}

.img_center{
	display:block;
	margin:auto;
}

.flex_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  z-index: 2;
}

.flex_table > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/* End Other */

/* Container */
.cus_container{
	margin-left:5%;
	margin-right:5%;
}

.cart_container{
	margin-left:5%;
	margin-right:5%;
}
/* End Container */

/* Header */
.nav>li, .nav>li>a {
    position: static;
}

.cus_dropdown{
	right: 10%;
	left: 10%;
}

.cus_drop2 li{
	border: none !important;
	height: unset !important;
	padding: 10px;
}

.cus_drop2 li a{
	font-family: MyriadPro-Regular;
	color: #0c638f;
}

@media screen and (min-width:1024px){
  .hov_dropdown:hover > .dropdown-menu{
    display:block;
  }
}

.head1_ul_cust .open>a, .nav .open>a:focus, .head1_ul_cust .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
}
.name_pc{
	font-family: MyriadPro-Regular;
	padding-top: 5px;
	color: #0c638f;
	/* font-size: 0.7em; */
}

.col-menu{
	/* height: 100px; */
	overflow-y: scroll;
}

.head1_ul_cust li a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.active{
	background-color: #0c638f;
	color: #ffff !important;
}

.head1_ul_cust li{
	width: 12.5% !important;
	/* max-height: 100px; */
	margin-top: 0 !important;
	height: 100px;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	/* width: 103px !important; */
	border: 1px #efefef solid;
	float: left !important;
	/* width: 100% !important; */
}

.img_menu{
	/* float: left; */
	height: 75px;
	padding-top: 5px;
	/* margin: unset; */
	/* width: auto; */
	max-width: -webkit-fill-available !important;
}

.li_dropdown{
	float: none !important;
    width: 100% !important;
}

.cus_drop {
    width: auto;
    min-width: 100%;
    padding: 5px;
    background-color: #003A90;
    /* margin-top: 37px; */
}

.li_cust{
	margin-top: 0px !important;
}

#header-link {
    background-color: #F38F1E;
    text-align: center;
}

.head1_con{
	font-family: dinM;
	/* font-size: 14px; */
	/* color: #ffff; */
}

.search_cust{
	padding-right: 20px;
	position: absolute;
	display: none;
}

.head1_l{
	background-color:#E71723;
	font-family:Arial !important;
	/*font-size:13.5px;*/
	font-size: 1em;
	color: #ffff!important;
	padding-top:10px;
}

.head1_ul {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
	text-align:center;
}

.head1_ul li {
	/* position: relative; */
	float: left;
	/* overflow: hidden; */
	 /* Fallback */
	width: -webkit-calc(100% / 5);
	width: calc(100% / 5);
	margin-top: 10px;
}

.head1_ul li a {
	display: block;
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.head1_r{
	background-color:#003A90;
	color: #ffff !important;
	padding-top:10px;
	padding-bottom:10px;
}

.head2_con{
	/* background-color:#182F42; */
	padding-top:15px;
}

.head2_padding{
	padding-bottom:15px;
}

.head2_search{
	display:block;
	margin:auto 0;
}

.head2_search input{
	border-radius:0 !important;
	font-family:Helvetica !important;
	font-size:13px !important;
}

.head2_search button{
	border-radius:0 !important;
	background-color:#FBD509 !important;
	color:#606060 !important;
	font-family:Helvetica !important;
	font-size:13px !important;
	border:2px solid #FBD509 !important;
	height:100%;
}

.rs_search{
	padding:10px;
	border:1px solid #666666;
	display:none;
	border-radius:10px;
	position:absolute;
	background-color:white;
	width:100%;
	z-index:305;
	height:200px;
	overflow:auto;
	top:0;
	left:0;
    right:0;
}

.rs_search p{
	padding: 2px 10px;
	margin-bottom:5px !important;
}

.rs_search p:hover{
	background-color:#167ac6 !important;
	color:white;
	cursor:pointer;
}

.head_2_cr1_con{
	margin:auto 0;
}

.head_2_cr1{
	display:inline-block !important;
}

.head_2_cr1 img{
	display:inline-block;
	margin:auto;
}

.head_2_cr1 a{
	display:inline-block;
	margin:auto;
	color:#FFFFFF !important;
	margin-left:4%;
	text-decoration:none !important;
	cursor:pointer;
}

.head2_cr_2_con{
	margin-top:4%;
}

.head_2_cr2_btn1{
	background-color:#EE2300 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:robotoM !important;
	outline:none !important;
}

.head_2_cr2_btn2{
	background-color:#EDEDED !important;
	color:#58595B !important;
	border:none !important;
	font-family:robotoM !important;
	outline:none !important;
}

.head_under{
	border-bottom: 3px solid #D2A865;
    width: 60%;
    display: none;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.head_3_mn{
	background-color:#12252F;
	font-family:Arial !important;
	font-size:1.2em;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	padding-top:15px;
}

.head_3_mn a{
	color:#FDFDFD;
	text-decoration:none !important;
	padding-bottom: 15px;
	display:block;
	margin:auto;
}

.head_3_mn p{
	margin-bottom:0;
}

.head_3_mn:hover{
	background-color:#ffffff;
}

.head_3_mn:hover a{
	color:#474E51;
}

.head_3_mn:hover > .head_under{
	display:block;
}

.head_3_mn > .head_3_mn_active{
	color:#E79107 !important;
}

.hd_shop_login2{
	color:#ffffff !important;
	width:100%;
	background-color:transparent !important;
	border:0 !important;
	padding:0;
	outline:none !important;
}

.hd_shop_login4{
	top:130% !important;
	border-radius:0 !important;
	background-color:#ffffff;
	min-width:120px !important;
	left:5% !important;
}

.hd_shop_login5{
	display:block;
	margin:auto 0;
}

.hd_shop_login5 a{
	color:#ffffff !important;
	text-decoration:none !important
}

/* Modal */
	#search_in{
		float: right;
	}
	
	.cus_modalCon{
		border-radius:0 !important;
		background-color:#0C0C0C;
		padding:0;
		background-color:transparent !important;
		border:none !important;
		box-shadow:none !important;
	}

	.cus_modalHide{
		background-image:url('../images/mockup/sign_bg.jpg');
		background-size:cover;
		min-height:250px;
	}

	.cus_modalCenter{
		z-index:10;
		display:block;
		margin:auto;
	}

	.cus_modalCenter p{
		color:#F29100;
		font-size:1.2em;
		font-family:avenirBo !important;
		margin-top:15px;
	}

	.cus_modal_bg{
		width: 100%;
	    background-color: rgba(24, 47, 66, 0.8);
	    height: 100%;
	    position: absolute;
	    top:0;
	}

	.cus_modal_input{
		background-color: #ffffff;
		font-family:dinM !important;
	}

	.cus_modal_input1{
		padding:10% 8%;
	}

	.cus_modal_input1 > .form-group{
		margin-bottom:30px !important;
	}

	.cus_modal_tl{
		color:#F29100;
		font-size:1.8em;
		margin-bottom:30px;
		font-family:dinM !important;
	}

	.cus_modal_input1 > .form-group > .cus_modal_label{
		color:#ADADAD !important;
		font-size:0.9em;
		font-family:dinM !important;
	}

	.cus_modal_label2{
		color:#ADADAD !important;
		font-size:1em;
		font-family:dinM !important;
	}

	.cus_modal_input1 input{
		border:0 !important;
		border-bottom:4px solid #D8D6D6 !important;
		box-shadow:none !important;
		padding:0px !important;
		color:#999999 !important;
	}

	.cus_modal_submit button{
		width:100%;
		background-color:#F29100 !important;
		color:#ffffff !important;
		border-radius:0 !important;
		outline:none !important;
		margin-bottom:10px;
	}

	.cus_modal_submit2 button{
		width:100%;
		background-color:#F29100 !important;
		color:#ffffff !important;
		border-radius:0 !important;
		outline:none !important;
	}

	.cus_modal_link{
		margin-right:0;
		margin-left:0;
		text-align:right;
	}

	.cus_modal_link a{
		color:#787877 !important;
		font-size:1em;
		font-family:dinM !important;
		outline:none !important;
	}

	.cus_modal_link2{
		display:block;
		margin:auto;
	}

	.cus_modal_link2 a{
		color:#F29100 !important;
		outline:none !important;
	}
	/* End Modal */
/* End Header */

/* Mini Cart */
.cart-box.popup{
	position:absolute;
	width:300px;
	z-index:100;
	top:10%;
	padding:15px 0 0 0;
	display:none;
}

.hd_cart_active{
	display:block !important;
}

.cart-box.popup .button-x{
	position:absolute;
	top:0;
	right:2px;
	cursor:pointer;
}

.cart-box.popup .popup-container{
	border:2px #ebebeb solid;
	padding:25px 20px 20px 20px;
	background:#fff;
	position:relative;
	max-height:500px;
	overflow:auto;
}

.cart-box.popup .image{
	float:left;
	width:70px;
}

.cart-box.popup .image img{
	display:block;
	width:100%;
	height:auto;
}

.cart-box.popup .cart-entry{
	padding-bottom:25px;
	margin-bottom:25px;
	border-bottom:2px #ebebeb solid;
	position:relative;
}

.cart-box.popup .content{
	margin:0 20px 0 85px;
}

.cart-box.popup .content .title{
	font-size:14px;
	line-height:14px;
	color:#666666;
	font-weight:600;
	margin-bottom:5px;
	display:block;
}

.cart-box.popup .content .title:hover{
	text-decoration:underline;
}

.cart-box.popup .content .quantity{
	font-size:13px;
	line-height:24px;
	color:#666666;
	margin-bottom:3px;
}

.cart-box.popup .content .price{
	font-size:18px;
	line-height:24px;
	color:#e11414;
	font-weight:600;
}

.cart-box.popup .summary{
	text-align:right;
	margin-bottom:25px;
}

.cart-box.popup .summary .subtotal{
	font-size:14px;
	line-height:22px;
	color:#666666;
	font-weight:600;
}

.cart-box.popup .summary .grandtotal{
	font-size:18px;
	line-height:22px;
	color:#666666;
	font-weight:600;
}

.cart-box.popup .summary .grandtotal span{
	color:#e11414;
}

.cart-buttons .column{
	width:100%;
	padding-left:5px;
	float:left;
}

.cart-buttons .column:first-child{
	padding-left:0;
	padding-right:5px;
}

.cart-buttons{
	display:block;
	margin-bottom:60px;
	text-align:center;
}

.button.style-3{
	font-size:12px;
	line-height:16px;
	font-weight:700;
	color:#666666;
	width:100%;
	text-transform:uppercase;
	background-color:transparent !important;
	display:inline-block;
	text-align:center;
	border:2px #666666 solid;
	padding:10px 5px;
}

#floatingCirclesG{
	position:relative;
	width:54px;
	height:54px;
	margin:auto;transform:scale(0.6);
	-o-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:10px;
	width:10px;
	border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	animation-name:f_fadeG;
	-o-animation-name:f_fadeG;
	-ms-animation-name:f_fadeG;
	-webkit-animation-name:f_fadeG;
	-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
	-o-animation-duration:1.2s;
	-ms-animation-duration:1.2s;
	-webkit-animation-duration:1.2s;
	-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:22px;
	animation-delay:0.45s;
	-o-animation-delay:0.45s;
	-ms-animation-delay:0.45s;
	-webkit-animation-delay:0.45s;
	-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.6s;
	-o-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:22px;
	top:0;
	animation-delay:0.75s;
	-o-animation-delay:0.75s;
	-ms-animation-delay:0.75s;
	-webkit-animation-delay:0.75s;
	-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.9s;
	-o-animation-delay:0.9s;
	-ms-animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
	-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:22px;
	animation-delay:1.05s;
	-o-animation-delay:1.05s;
	-ms-animation-delay:1.05s;
	-webkit-animation-delay:1.05s;
	-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:1.2s;
	-o-animation-delay:1.2s;
	-ms-animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:22px;
	bottom:0;animation-delay:1.35s;
	-o-animation-delay:1.35s;
	-ms-animation-delay:1.35s;
	-webkit-animation-delay:1.35s;
	-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:1.5s;
	-o-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
}

@keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-o-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-ms-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-webkit-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-moz-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
/* End Mini Cart */

/* Cart */
.cart-loader{
	margin-top:45px;
	margin-bottom:45px;
}

.cart_shop_head{
	margin-top:45px;
}

.cart_body{
	display:block;
	margin:auto;
	display:inline-block !important;
}

.cart_category{
	font-family:dinM !important;
	font-size:1em;
	color:#333333;
	text-transform:uppercase;
}

.cart_subcategory{
	font-family:avenirLo !important;
	font-size:1em;
	color:#333333;
	text-transform:uppercase;
}

.cart_name_pro{
	font-family:Arial !important;
	color:#474646;
	font-size:1.2em !important;
	font-weight:600 !important;
}

.cart_head{
	padding-top:10px;
	color:#333333 !important;
	font-family:opensansB !important;
	font-size:1.2em;
}

.cart_span{
	margin-top:5px;
	font-family:opensansB !important;
	font-size:1.2em;
	color:#12252F;
	display:block !important;
	margin:auto;
}

.cart_span2{
	font-family:opensansB !important;
	font-size:1.2em;
	color:#12252F;
	display:block !important;
	margin:auto;
}

.cart_input{
	width:50%;
	text-align:center;
}

.cart_input input{
	text-align:center;
}

.cart_button{
	float:right;
	background-color:transparent !important;
	border:none !important;
	color:#666666 !important;
}

.cart_button_check{
	background-color:#9E9E9E !important;
	padding-left:15px;
	padding-right:15px;
	height:100%;
	outline:none !important;
}

.cart_button_check a{
	display:block;
	margin:auto;
}

.cart_button_check button{
	background-color:transparent !important;
	padding:10px 5px;
	color:#ffffff !important;
	border:0 !important;
	width:100%;
}

.cart_con2{
	border-bottom:1px solid #666666;
	margin-top:20px;
	padding-bottom:30px;
	margin-bottom:20px;
}

.cart_con3{
	margin-top:20px;
	font-family:opensansL !important;
}

.cart_con3 > div > div > h3{
	color:#333333 !important;
	font-weight:normal !important;
	font-size:1.2em !important;
	margin-bottom:15px;
}

.cart_con3 > div > div > p{
	color:#666666 !important;
}

.cart_con3_title{
	font-family:opensansL !important;
	color:#666666 !important;
	font-weight:600;
	font-size:1em;
}

.cart_con3_h{
	color:#683B11 !important;
}

.cart_con3_body{
	margin-bottom:20px;
	font-size:1em;
}

.cart_con3_input{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	width:100%;
}

.cart_con3_button{
	width:100%;
	padding:10px 20px;
	background-color:#818181;
	border:none !important;
	color:#ffffff !important;
	font-family:opensansB;
	margin-top:20px;
	margin-bottom:20px;
	outline:none !important;
}

.cart_con3_select{
	padding:10px 10px 10px 4px;
	width:100%;
	color:#666666 !important;
}

.cart_con4{
	color:#666666 !important;
	padding:40px;
}

.up_total{
	color:#EE3233;
	font-family:opensansB !important;
	font-size:22px;
	text-align:right;
}

.up_desc{
	color:#333333;
	font-size:1.4em;
	text-align:left;
	font-family:opensansL !important;
	font-weight:600;
}

.up_num{
	font-family:opensansB;
	font-size:1.6em;
	text-align:right;
	color:#818181;
}

.up_span{
	float:right;
}

.cart_con4_total{
	font-family:opensansB;
	margin-bottom:10px;
	padding-top:20px;
	border-top:1px solid #757575;
	margin-top:15px;
}

.cart_con4_button{
	background-color:#DB0B0B;
}

.cart_con4_button a{
	display:block;
	margin:auto;
}

.cart_con4_button button{
	width:100%;
	padding:10px 5px;
	background-color:transparent !important;
	border:none !important;
	color:#ffffff !important;
	font-family:opensansB;
	outline:none !important;
}

.total_grand_total{
	margin-top:20px;
}

.cart_empty{
	margin-top:2%;
	margin-bottom:2%;
}

.cart_rekomen{
	margin-bottom:5%;
}

.cart_btns{
	margin-bottom:15px;
	font-family:ralewayB !Important;
}

/* Add Minus Product */
	.quantity-selector{
		font-size: 0;
		display: block !important;
   	 	margin: auto;
	}

	.quantity-selector .button{
		margin-right: 20px;
	}

	.quantity-selector .entry{
		border: 1px #d1d1d1 solid; 
		height: 37px; 
		line-height: 35px; 
		width: 37px; 
		margin-left: -1px; 
		display: inline-block; 
		cursor: pointer; 
		position: relative; 
		font-size: 12px; 
		color: #4c4c4c; 
		text-align: center; 
		user-select: none; 
		-webkit-user-select: none; 
		-moz-user-select: none;
	}

	.quantity-selector .entry.number-minus:before, .quantity-selector .entry.number-plus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 60px !important;
	}

	.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2:before, .quantity-selector .entry.number-plus2:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus2:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number2{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 40px !important;
	}

	.quantity-selector .entry.number-minus2:hover, .quantity-selector .entry.number-plus2:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus2:active, .quantity-selector .entry.number-plus2:active{
		background: #EFEFF0;
	}
	/* End Add Minus Product */
/* End Cart */

/* Home */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}

.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.home_bn_con{
	padding-top:10px;
}

.home_bn_cus{
	padding:0 5px 10px 5px;
}

.home_bn2_con{
	margin-top:15px;
	background-color:#FBD509;
	padding-top:2%;
	padding-bottom:2%;
	margin-bottom:25px;
}

.home_bn3_con div{
	display:block;
	margin:auto;
	text-align:center;
	color:#494848;
	font-size:1.2em;
	font-family:dinL !important;
}

.home_bn3_con p:not(:first-child){
	margin-bottom:0 !important;
}

.home_bn3_con p:last-child{
	margin-bottom:15px !important;
}

.home_bn3_con i{
	color:#EA1723;
}

.home_tl1 h3{
	font-family:dinM !important;
	font-size:2em !important;
	color:#131211 !important;
	margin-bottom:30px;
}

.home_cat{
	width: 20%;
	margin-bottom:5%;
	float:left;
	padding-left:15px;
	background-color:#ffffff;
}

.home_cat_content{
	width:100%;
	height:100%;
	-webkit-box-shadow: -4px 2px 78px -30px rgba(0,0,0,0.79);
	-moz-box-shadow: -4px 2px 78px -30px rgba(0,0,0,0.79);
	box-shadow: -4px 2px 78px -30px rgba(0,0,0,0.79);
}

.home_cat_content a{
	padding-top:5px;
	padding-bottom:5px;
	font-family:dinL !important;
	font-size:1.6em;
	color:#131211 !important;
	text-decoration:none !important;
	text-transform: capitalize;
	cursor:pointer;
}

.home_cat_content a p{
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
}

.home_banner{
	margin-bottom:5%;
}

.home_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
}

.home_product_con:hover{
	border:2px solid #50FF60;
}

.home_product_name{
	margin-top:10px;
}

.home_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em;
}

.home_product_disc p{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.home_product_disc_none p{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.home_product_rl p{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
}

.home_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.home_div_disc{
	width:auto;
	background-color:#3B4580;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.home_div_disc2{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.home_product_dll{
	margin-top:15px;
	margin-bottom:15px;
	text-align:right;
}

.home_product_dll a{
	color:#131211;
	font-size:1em;
	font-family:dinM !important;
	font-weight:600;
	text-decoration:none !important;
}

.home_product_dll a > p{
	margin-bottom:0;
}

/* Product Promo */
.home_promo_tl{
	background-color:#085175;
	color:#ffffff;
	text-align:center;
	font-family:dinM !important;
	margin-bottom:30px;
}

.home_promo_tl h3{
	font-size:1.8em !important;
	margin-top:15px;
	margin-bottom:15px;
}

.home_product_foot{
	background-color:#085175;
	height:20px;
	margin-bottom:5%;
}
/* End Product promo */

/* Product terlaris */
.home_terlaris_tl{
	background-color:#EC1C24;
	color:#ffffff;
	text-align:center;
	font-family:dinM !important;
	margin-bottom:30px;
}

.home_terlaris_tl h3{
	font-size:1.8em !important;
	margin-top:15px;
	margin-bottom:15px;
}

.home_product_foot2{
	background-color:#EC1C24;
	height:20px;
	margin-bottom:5%;
}
/* End Product Terlaris */

/* Product Terbaru */
.home_terbaru_tl{
	background-color:#182F42;
	color:#ffffff;
	text-align:center;
	font-family:dinM !important;
	margin-bottom:30px;
}

.home_terbaru_tl h3{
	font-size:1.8em !important;
	margin-top:15px;
	margin-bottom:15px;
}

.home_product_foot3{
	background-color:#182F42;
	height:20px;
	margin-bottom:5%;
}
/* End Product Terbaru */

/* Product Rekomendasi */
.home_rekomen_tl{
	background-color:#FBD509;
	color:#ffffff;
	text-align:center;
	font-family:dinM !important;
	margin-bottom:30px;
}

.home_rekomen_tl h3{
	font-size:1.8em !important;
	margin-top:15px;
	margin-bottom:15px;
}

.home_product_foot4{
	background-color:#FBD509;
	height:20px;
	margin-bottom:5%;
}
/* End Product Rekomendasi */

/* Product Terlaris */
.product_terlaris_tl{
	background-color:#DD9F22;
	color:#ffffff;
	text-align:center;
	font-family:dinM !important;
	margin-bottom:30px;
}

.product_terlaris_tl h3{
	font-size:1.8em !important;
	margin-top:15px;
	margin-bottom:15px;
}

.product_terlaris_foot{
	background-color:#DD9F22;
	height:20px;
	margin-bottom:30px;
}
/* End Product Terlaris */

.home_testi_tl{
	text-align:center;
	font-family:dinM !important;
	color:#3D3D3D;
	font-size:1.6em;
	margin-bottom:30px;
}

.home_testi_content{
	margin-bottom:5%;
}

.home_testi_con{
	border:1px solid #d7d2cd59;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:30px;
	padding-right:30px;
}

.home_testi_con1{
	margin-bottom:15px;
}

.home_testi_img{
	border-radius:50%;
}

.home_testi_con2{
	margin-bottom:15px;
}

.home_testi_con2 p{
	margin-bottom:5px;
}

.home_testi_con3 p{
	margin-bottom:0;
	font-size:0.9em;
	font-family:dinL !important;
}
/* End Home */

/* Aksesoris */
.akse_con1{
	margin-top:5%;
	margin-bottom:3%;
}

.akse_tl h1{
	margin-top:0;
	margin-bottom:20px;
	font-size:1.2em;
	color:#12252F;
}

.akse_content1{
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:35px;
}

.akse_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:10px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.akse_product_con:hover{
	border:2px solid #50FF60;
}

.akse_product_con2{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	margin-bottom:10px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.akse_product_name{
	margin-top:10px;
	min-height:3.5em;
}

.akse_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em;
}

.akse_product_disc p{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.akse_product_disc_none p{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.akse_product_rl p{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
}

.akse_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.akse_div_disc{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.akse_price{
	position:absolute;
	bottom:0;
}

.akse_categor_img{
	height:85%;
	position:relative;
	background-size:cover;
	background-position:center;
	min-height:250px;
}

.akse_categor_img a{
	width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    cursor:pointer;
}

.akse_categor_tl{
	height:15%;
	display:flex;
	min-height:50px;
}

.akse_categor_tl a{
	color:#ffffff !important;
	font-family:dinL !important;
	font-size:1.6em;
	text-align:center;
	display:block;
	margin:auto;
	text-decoration:none !important;
	outline:none !important;
    cursor:pointer;
}

.akse_categor_tl a > p{
	margin-bottom:0;
}

.akse_dll{
	text-align:right;
	height:30px;
}

.akse_dll a{
	display:block;
	margin:auto 0;
	color:#ffffff !important;
	text-decoration:none !important;
	outline:none !important;
	font-size:1em;
	font-family:dinR !important;
}

.akse_dll p{
	margin-bottom:0;
}
/* End Aksesoris */

/* Product */
.product_con{
	margin-top:5%;
	margin-bottom:30px;
}

.lSGallery li > a > img{
	border:3px solid #efefef;
}

.lSGallery > .active > a > img{
	border:3px solid #000000 !important;
}

.product_l{
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:30px;
	border:1px solid #DBDCDA;
}

.product_name h3{
	font-family:dinM !important;
	font-size:2em;
	color:#666666;
	margin-top:0;
	margin-bottom:15px;
	text-transform:capitalize;
}

.product_disc_con1{
	margin-bottom:15px;
}

.product_disc{
	text-decoration:line-through;
	font-size:1.4em;
	color:#7C7B7B;
	font-family:dinL !important;
	margin-bottom:0;
}

.product_rl{
	font-size:1.8em;
	color:#DA0B0B;
	font-family:dinR !important;
	font-weight: 600;
	margin-bottom:0;
}

.product_img_disc{
	width:auto;
	border-radius:50%;
	background-color:#3B4580;
	min-height: 70px;
}

.product_img_disc p{
	margin-bottom:0;
	color:#ffffff;
	display:block;
	margin:auto;
	font-size:1.6em;
}

.product_stock{
	font-family:robotoL !important;
	color:#999999;
	margin-top:30px;
	margin-bottom:15px;
}

.product_stock p{
	font-size:1.2em;
	display:inline-block;
}

.product_stock_av{
	background-color:#2FA743;
	font-family:dinL !important;
	text-align:center;
	padding:2px 15px;
	color:#ffffff;
	margin-left:20px;
	font-size:1.4em;
	line-height:180%;
}

.product_stock_hb{
	background-color:#DA0B0B;
	font-family:dinL !important;
	text-align:center;
	padding:2px 15px;
	color:#ffffff;
	margin-left:20px;
	font-size:1.4em;
	line-height:180%;
}

.product_type{
	font-family:robotoL !important;
	margin-bottom:15px;
}

.product_type select{
	border:none !important;
	outline:none !important;
	font-size:1.2em !important;
	color:#999999 !important;
	box-shadow:none !important;
	width:auto;
	text-transform:capitalize;
}

.product_grosir_tl{
	background-color:#DA0B0B;
	padding-top:5px;
	padding-bottom:5px;
	font-size:1.2em !important;
	font-family:dinM !important;
}

.product_grosir_tl p{
	color:#ffffff;
	margin-bottom:0;
}

.product_grosir_con{
	border:1px solid #d1d1d1;
	font-size:dinL !important;
	font-size:1.2em !important;
}

.product_grosir_con p{
	margin-top:5px;
	margin-bottom:5px;
}
	/* Add Minus Product */
	.quantity-selector{
		font-size: 0;
		display: block !important;
   	 	margin: auto;
	}

	.quantity-selector .button{
		margin-right: 20px;
	}

	.quantity-selector .entry{
		border: 1px #d1d1d1 solid; 
		height: 37px; 
		line-height: 35px; 
		width: 37px; 
		margin-left: -1px; 
		display: inline-block; 
		cursor: pointer; 
		position: relative; 
		font-size: 12px; 
		color: #4c4c4c; 
		text-align: center; 
		user-select: none; 
		-webkit-user-select: none; 
		-moz-user-select: none;
	}

	.quantity-selector .entry.number-minus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #A4A4A4; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #ffffff; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #ffffff; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 40px !important;
	}

	.entry.number-plus{
		background-color:#A4A4A4;
	}

	.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747 !important;
	}

	.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{
		background: #EFEFF0;
	}
	/* End Add Minus Product */

.product_qty{
	margin-bottom:15px;
}

.product_button{
	font-family:dinR !important;
	font-size:1em !important;
	color:#ffffff;
	font-weight:600;
	margin-top:15px;
	margin-bottom:15px;
}

.product_button a{
	color:#ffffff !important;
	text-decoration:none !important;
	outline:none !important;
}

.product_button button{
	width:100%;
	border:none !important;
	outline:none !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
}

.product_button_l button{
	background-color:#F58F35;
}

.product_button_r button{
	background-color:#2FA743;
}

.product_desc_tl{
	color:#131312;
	font-size:1.4em !important;
	font-family:dinM !important;
}
/* End Product */

/* Category Product */
.cate_con{
	margin-top:45px;
	margin-bottom:10px;
}

.cate_banner{
	background-size:cover;
}

.cate_banner_con{
	margin-bottom:35px;
}

.cate_ban1{
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
	width:auto;
	min-height:250px;
	min-width:250px;

	display:flex;
}

.cate_ban1 h1{
	color:#ffffff;
	font-family:dinM !important;
	font-size:1.6em;
	display:block;
	margin:auto;
}

.cat_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:35px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.cat_product_con:hover{
	border:2px solid #50FF60;
}

.cat_product_name{
	margin-top:10px;
}

.cat_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em;
}

.cat_product_disc p{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.cat_product_disc_none p{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.cat_product_rl p{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
}

.cat_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.cat_div_disc{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.cate_pagination>.pagination{
	display:block;
	margin:auto;
	margin-bottom:35px;
}

.cate_pagination>.pagination>.active>span{
	background-color:#EC1C24 !important;
	border-color:#EC1C24 !important;
}

.cate_pagination>.pagination>li>a{
	color:#777 !important;
}

.cate_pagination.pagination>li:last-child>a{
	color:#EC1C24 !important;
}
/* End Category Product */

/* Filter Product */
.flt_con{
	margin-top:15px;
	margin-bottom:10px;
}

.flt_con h1{
	color:#12252F;
	font-family:dinM !important;
	font-size:1.6em;
	display:block;
	text-transform:uppercase;
}

.flt_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:35px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.flt_product_con:hover{
	border:2px solid #50FF60;
}

.flt_product_name{
	margin-top:10px;
}

.flt_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em;
}

.flt_product_disc p{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.flt_product_disc_none p{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.flt_product_rl p{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
}

.flt_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.flt_div_disc{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.flt_pagination>.pagination{
	display:block;
	margin:auto;
	margin-bottom:35px;
}

.flt_pagination>.pagination>.active>span{
	background-color:#EC1C24 !important;
	border-color:#EC1C24 !important;
}

.flt_pagination>.pagination>li>a{
	color:#777 !important;
}

.flt_pagination.pagination>li:last-child>a{
	color:#EC1C24 !important;
}
/* End Filter Product */

/* Footer */
/* This parent can be any width and height */
.block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.foot_con1{
	/*background-color:#12252F;*/
	padding-top:30px;
	background-image: url(../images/other/footer_bg.png);
	background-size: cover;
	/* background-color: rgba(255,255,255,0.5); */
}

.foot_cons{
	width:20%;
	float:left;
	margin-bottom:30px;
}

.foot_cons2{
	width:20%;
	float:left;
	margin-bottom:30px;
}

.foot_tl {
	margin-bottom:10px;
}

.foot_tl p{
	color: #253671;
	font-family:dinM !important;
	font-size:1.4em;
}

.foot_tl_info{
	list-style-type:none;
	padding-left:0;
}

.foot_tl_info li{
	margin-bottom:10px;
}

.foot_tl_info li > a{
	color:#474747;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em !important;
	text-transform:capitalize !important;
}

.foot_pembayaran{
	margin-bottom:20px;
}

.foot_pembayaran img{
	margin-bottom:10px;
}

.foot_pembayaran p{
	color: #474747;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_contact{
	margin-bottom:5px;
}

.foot_contact img{
	display:inline-block;
}

.foot_contact p{
	color: #253671;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
	display:inline-block;
}

.foot_tt_k p{
	color: #474747;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_subscribe p{
	color:#ffffff;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_subscribe input{
	border-radius:0 !important;
}

.foot_subscribe button{
	background-color:#EC1C24 !important;
	border:2px solid #EC1C24 !important;
	outline:none !important;
	border-radius:0 !important;
}

.foot_logo{
	margin-bottom:30px;
}

.foot_con2{
	background-color: #253671;
	height:15px;
}

.foot_con3{
	background-color:#AB161D;
	padding-top:10px;
	padding-bottom:10px;
}

.foot_con3_con a{
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:1.1em;
	text-align:right;
	text-decoration:none !important;
}

.foot_con3_con p{
	margin-bottom:0;
}
/* End Footer */

/* Standard Css checkout */
/* Checkout */
.shop_checkout_con{
	padding-top:5%;
	padding-bottom:5%;
}

.shop_checkout_guest_tl{
	color:#333333;
	font-family:opensansL !important;
	font-size:30px;
}

.shop_checkout_guest_desc{
	color:#808080;
	font-family:opensansL !important;
	font-size:14px;
	margin-bottom:15px;
}

.shop_checkout_guest_input{
	color:#B5B0B1 !important;
}

.shop_checkout_guest_buttona{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #9E9E9E;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
    text-decoration:none !important;
    font-size:1em;
}

.shop_checkout_guest_buttonb{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #DB0B0B;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
    font-size:1em;
}

.hd_btn_login2{
	background-color:#F29100 !important;
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:1em !important;
	border:0 !important;
	border-radius:0 !important;
	padding:3% 10%;
}
/* End Checkout */


/* Checkout Detail */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}

.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Checkout Detail */

/* Profile */
.profile_con{
	padding-top:5%;
	padding-bottom:5%;
}

.pl_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.pl_2{
	background-color:transparent;
	border:1px solid #666666;
	padding:10px 30px;
	color:#666666 !important;
	border-radius:10px;
}

.pl_3{
	margin-top:20px;
}

.pl_4{
	margin-bottom:10px;
}

.pl_5{
	margin-bottom:5px;
}

.pl_6{
	text-align:right;
}

.pl_7{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.pl_8{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.pl_8_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.pl_8_2{
	border:1px solid #683B11;
	width:32px;margin-bottom:20px;
}

.pl_9{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.pl_10{
	color:#666666 !important;
}
/* End Profile */

/* Edit Profile */
.ep_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ep_2{
	margin-bottom:10px;
}

.ep_2_1{
	margin-bottom:5px;
}

.ep_3{
	text-align:right;
}

.ep_4{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensans !important;
	border:none!important;
}

.ep_10{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#EE3233;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:0 !important;
	text-align:center;
	text-decoration:none !important;
	outline:none !important;
}

.ep_5{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ep_6{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ep_7{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ep_8{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ep_9{
	color:#666666 !important;
}
/* End Edit Profile */

/* Histori Order */
.histori_con{
	padding-top:5%;
	padding-bottom:5%;
}

.oh_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.oh_2{
	margin-top:20px;
}

.oh_2_1{
	border:1px solid white;
}

.oh_2_2{
	background-color:#666666;
	color:#ffffff !important;
}

.oh_3{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.oh_3_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.oh_3_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.oh_4{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.oh_5{
	color:#666666 !important;
}
/* End Histori Order */

/* Detail Order */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}
.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Detail Order */

/* Change Password */
.change_password_con{
	padding-top:5%;
	padding-bottom:5%;
}

.ch_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ch_2{
	margin-bottom:10px;
}

.cH_2_1{
	margin-bottom:5px;
}

.ch_3{
	text-align:right;
}

.ch_3_1{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.ch_4{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ch_4_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ch_4_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ch_5{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ch_6{
	color:#666666 !important;
}
/* End Change Password */
/* End Standard css checkout */

/* about Us */
.abo_banner{
	background-size:cover;
	position:relative;
}

.abo_banner_con{
	margin:10% 0;
}

.cus_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url('../images/mockup/intrac_op.png');
	background-size:cover;
}

.abo_banner h1{
	font-size:3.5em;
	color:#ffffff;
	font-family:dinR !important;
	font-weight:600;
}

.abo_con1{
	padding-top:60px;
	padding-bottom:25px;
}

.abo_con1_1{
	font-family:dinM !important;
	font-size:1.2em;
	color:#262626;
	text-align:justify;
	margin-bottom:4%;
}

.abo_con1_2{
	margin-bottom:5%;
}

.abo_con1_2 span{
	background-color:#12252F;
	padding:15px;
	color:#ffffff;
	font-family:dinM !important;
	font-size:1.4em;
}

.abo_cons_img{
	position: relative;
	width: 100%;
}	
.abo_con_img {
	position: relative;
	float: left;
	overflow: hidden;
	width: 12.5%; /* Fallback */
	width: -webkit-calc(100% / 8);
	width: calc(100% / 8); 
	margin-bottom:35px;
}

.abo_con_img img{
	max-width:105px;
}
/* End About Us */

/* Informasi */
.info_con{
	padding-top:5%;
	padding-bottom:5%;
}

.info_cus_pill li{
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:15px;
}

.info_cus_pill a{
	color:#12252F !important;
	font-size:1.2em;
	text-decoration:none !important;
	outline:none !important;
	background-color:transparent !important;
	font-family:dinM !important;
}

.info_cus_pill ul > .active{
	border-right:4px solid #A9AAAA;
}

.info_content h3{
	color:#EC1C24;
	margin-bottom:0;
}

.info_content p{
	color:#000000;
	font-family:dinL !important;
	font-size:1.2em;
	margin-bottom:0;
}
/* End Informasi */

/* Cara Beli */
.cb_banner{
	background-size:cover;
	position:relative;
}

.cb_banner_con{
	margin:10% 0;
	text-align:right;
}

.cb_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url('../images/mockup/intrac_opr.png');
	background-size:cover;
}

.cb_banner h1{
	font-size:3.5em;
	color:#ffffff;
	font-family:dinR !important;
	font-weight:600;
}

.cr_bl_cons{
	padding-top:5%;
}

.cr_bl_con1{
	margin-bottom:45px;
}

.cr_bl_con1 span{
	background-color:#12252F;
	padding:15px;
	color:#ffffff;
	font-family:dinM !important;
	font-size:1.4em;
}

.cr_bl_con1_2{
	margin-bottom:4%;
	font-family:dinL !important;
	font-size:1.2em;
}

.cr_bl_con1_2 p{
	margin-bottom:0;
	color:#262626;
}

.cr_bl_con1_2 ul{
	padding-left:1em;
	color:#494848;
}
/* End Cara Beli */

/* Kontak Kami */
.ct_us_banner{
	background-size:cover;
	position:relative;
}

.ct_us_banner_con{
	margin:10% 0;
}

.ct_us_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url('../images/mockup/intrac_op.png');
	background-size:cover;
}

.ct_us_banner h1{
	font-size:3.5em;
	color:#ffffff;
	font-family:dinR !important;
	font-weight:600;
}

.ct_us_cons{
	padding-top:5%;
}

.ct_us_map{
	margin-bottom:5%;
}

.ct_us_ds_con{
	display:flex;	
	margin-bottom:45px;
}

.ct_us_dsl{
	display:inline-block;
	margin-right:5px;
}

.ct_us_dsr{
	display:inline-block;
}

.ct_us_dsr p{
	margin-bottom:0;
	font-family:dinL !important;
	font-size:1em;
}

.ct_us_ds_md_tl{
	color:#F6921E;
	font-family:dinR !important;
	font-size:1em;
	margin-bottom:5px;
}

.ct_us_ds_mds img{
	display:inline-block;
	margin-right:5px;
}

.ct_us_ds_mds p{
	display:inline-block;
}

.ct_us_ds_mds2{
	background-color:#12252F;
	width:auto;
	margin-left:15px;
	padding-left:0;
	padding-top:5px;
}

.ct_us_ds_mds2 img{
	display:inline-block;
	margin-right:5px;
}

.ct_us_ds_mds2 p{
	display:inline-block;
	color:#ffffff;
	margin-bottom:5px
}

.font-white{
	color: #ffffff !important;
}
/* End Kontak Kami */

/* Media screen */
@media screen and (min-width:768px) and (max-width:1439px){
	.akse_product_name{
		min-height:4.5em;
	}
}

@media screen and (min-width: 1024px) and (max-width:1439px) {
	.cart_container{
		margin-left:1%;
		margin-right:1%;
	}

	.cart_name_pro {
		font-size:1em;
	}

	.cart_category{
		font-size:0.8em;
	}

	.cart_subcategory{
		font-size:0.8em;
	}
}

@media screen and (max-width: 1337px) {
	.head1_ul li {
		/* width: 33.3333333%; */ /* Fallback */
		/* width: -webkit-calc(100% / 3); */
		/* width: calc(100% / 3); */
	}

	.abo_con_img{
		width: 16.6666666%; /* Fallback */
		width: -webkit-calc(100% / 6);
		width: calc(100% / 6);
	}

	.akse_product_con{
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.akse_product_con2{
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.home_cat{
		width:25%;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.home_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.cat_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.flt_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.foot_cons{
		width:25% !important;
	}

	.foot_cons2{
		width:50% !important;
	}
}

@media screen and (max-width: 1023px) {
	.head1_ul li {
		/* width: 50%; */ /* Fallback */
		/* width: -webkit-calc(100% / 2); */
		/* width: calc(100% / 2); */
	}

	.abo_con_img{
		width: 16.6666666%; /* Fallback */
		width: -webkit-calc(100% / 6);
		width: calc(100% / 6);
	}

	.akse_product_con{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	.akse_product_con2{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	.home_cat{
		width:50% !important;
	}

	.home_product_con{
		width:50% !important;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}

	.cat_product_con{
		width:33.3333333% !important;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	.flt_product_con{
		width:33.3333333% !important;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	.foot_cons{
		width:50% !important;
	}

	.foot_cons2{
		width:100% !important;
	}

	.product_stock_av{
		display:block !important;
		margin-left:0;
	}

	.cart_container{
		margin-left:0;
		margin-right:0;
	}

	.cart_head {
		display:none;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	.quantity-selector{
		text-align:left;
	}

	.cart_span{
		text-align:right !important;
	}

	.cart_button{
		margin-left:10px;
	}
}

@media screen and (max-width: 425px) {
	/*.col-menu{
		display: none;
	}

	.swiper-1{
		display: block !important;
	}*/
}

@media screen and (max-width: 424px) {
	.head1_ul li {
		width:100%;
	}

	.home_cat{
		width:100% !important;
	}

	.home_product_con{
		width:100% !important;
	}

	.foot_cons{
		width:100% !important;
	}

	.foot_cons2{
		width:100% !important;
	}
}

@media screen and (max-width:767px) {
	.head_3_mn{
		display:none;
	}

	.home_cat{
		width:100% !important;
	}

	.home_product_con{
		width:100% !important;
	}

	.cat_product_con{
		width:100% !important;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.flt_product_con{
		width:100% !important;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.foot_cons{
		width:100% !important;
	}

	.foot_cons2{
		width:100% !important;
	}

	.product_img_disc{
		margin-left: 5%;
	}

	.home_bn2_con{
		padding-bottom:0;
	}

	.home_bn2_con img{
		margin-bottom:15px;
	}

	.abo_con_img{
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}

	.akse_product_con{
		width: 100%; /* Fallback */
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.akse_product_con2{
		width: 100%; /* Fallback */
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.cart_category{
		font-size:0.8em !important;
	}

	.cart_subcategory{
		font-size:0.8em !important;
	}

	.cart_name_pro{
		font-size:0.9em !important;
		margin-bottom:15px;
	}

	.cart_span{
		margin-top:15px;
	}

	.img_cus1{
		margin-bottom:15px;
	}

	.head_2_cr2_btn1{
		margin-bottom:10px;
	}

	.akse_price{
		position:relative;
		bottom:0;
	}

	.akse_product_name{
		min-height:0;
	}

	.hd_shop_login5{
		margin-top:15px;
		text-align:center;
	}

	.head_2_cr1{
		text-align:center;
	}
/* End Media Screen */ 
