/* Font */
@font-face {
	font-family: dinL;
    src: url("../../both/fonts/DINLight.ttf");
}

@font-face {
	font-family: dinR;
    src: url("../../both/fonts/DINRegular.ttf");
}

@font-face {
	font-family: dinM;
    src: url("../../both/fonts/DINMedium.ttf");
}

@font-face {
	font-family: avenirM;
    src: url("../../both/fonts/Avenir-Medium.ttf");
}

@font-face {
	font-family: MyriadPro-Regular;
    src: url("../../both/fonts/MyriadPro-Regular.otf");
}

@font-face {
	font-family: Avenir-Light;
    src: url("../../both/fonts/Avenir-Light_0.ttf");
}

@font-face {
	font-family: Raleway-Bold;
    src: url("../../both/fonts/Raleway-Bold.ttf");
}
/* End Font */

/* Other */
.name_elipse{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.5em;
}

.res_border{
	border-bottom: 1px solid #dddddd;
}

.pro_not_found{
	margin-bottom:35px;
	text-align:center;
}

.height_auto{
	height:auto !important;
}

.margin_cus{
	margin:auto 0 !important;
}

.align_center{
	display:block;
	margin:auto;
}

.align_center2 {
	display:block;
	margin:auto 0;
}

.align_right{
	display:block;
	margin:auto 0 auto auto;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.ds_block{
	display:block !important;
}

.img_width{
	width:100%;
}

.img_center{
	display:block;
	margin:auto;
}

.dis_flex{
	display:flex;
   	display: -webkit-flex;
}

.flex_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_table > [class*='col-'] {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
/* End Other */

/* Loading */
.load-container{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	z-index:100;
	background-color:#ffffff;
}

.cssload-spin-box {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
		-o-box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
		-ms-box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
		-webkit-box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
		-moz-box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	animation: cssload-spin ease infinite 4.6s;
		-o-animation: cssload-spin ease infinite 4.6s;
		-ms-animation: cssload-spin ease infinite 4.6s;
		-webkit-animation: cssload-spin ease infinite 4.6s;
		-moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-o-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-ms-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-webkit-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-moz-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}
/* End Loading */

/* Container */
.cus_container{
	margin-left:10%;
	margin-right:10%;
}

.cart_container{
	margin-left:5%;
	margin-right:5%;
}
/* End Container */

/* Header */
.fa_cust{
	float: right;
	color: #337ab7;
	padding-top: 5px;
}

.display-inline{
	display: inline;
}

.img_menu2{
	max-width: 20px !important;
	text-align: left;
	display: inline;
	height: 20px;
	width: 20px;
}

.nav>li, .nav>li>a {
    position: static;
}

.cus_dropdown{
	right: 10%;
	left: 10%;
}

.cus_drop2 li{
	border: none !important;
	height: unset !important;
	padding: 10px;
}

.cus_drop2 li a{
	font-family: MyriadPro-Regular;
	color: #0c638f;
}

@media screen and (min-width:1024px){
  .hov_dropdown:hover > .dropdown-menu{
    display:block;
  }
}

.head1_ul_cust .open>a, .nav .open>a:focus, .head1_ul_cust .open>a:hover {
    background-color: #0c638f;
    background-color: #eee;
    border-color: #337ab7;
}
.name_pc{
	font-family: MyriadPro-Regular;
	padding-top: 5px;
	color: #0c638f;
	font-size: 0.8em;
	/* display: inline-table; */
}

.name_pc2{
	font-family: MyriadPro-Regular;
	padding-top: 5px;
	color: #0c638f;
	font-size: 14px;
	/* display: inline-table; */
}

.col-menu{
}

.head1_ul_cust li a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.active_2{
	background-color: #0c638f;
	color: #ffff !important;
}

.head1_ul_cust li{
	width: 12.5% !important;
	/* max-height: 100px; */
	margin-top: 0 !important;
	height: 100px;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	/* width: 103px !important; */
	border: 1px #efefef solid;
	float: left !important;
	/* width: 100% !important; */
}

.img_menu{
	/* float: left; */
	height: 75px;
	padding-top: 5px;
	/* margin: unset; */
	/* width: auto; */
	max-width: -webkit-fill-available !important;
}

.li_dropdown{
	float: none !important;
    width: 100% !important;
}

.cus_drop {
    width: auto;
    min-width: 100%;
    padding: 5px;
    background-color: #003A90;
    /* margin-top: 37px; */
}

.li_cust{
	margin-top: 0px !important;
}

#header-link {
    background-color: #F38F1E;
    text-align: center;
}

.head1_con{
	font-family: dinM;
	/* font-size: 14px; */
	/* color: #ffff; */
}

.search_cust{
	padding-right: 20px;
	position: absolute;
	display: none;
}

.head1_l{
	background-color:#E71723;
	font-family:Arial !important;
	/*font-size:13.5px;*/
	font-size: 1em;
	color: #ffff!important;
	padding-top:10px;
}

.head1_ul {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
	text-align:center;
}

.head1_ul li {
	/* position: relative; */
	float: left;
	/* overflow: hidden; */
	 /* Fallback */
	width: -webkit-calc(100% / 5);
	width: calc(100% / 5);
	margin-top: 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.head1_ul li a {
	display: block;
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.head1_r{
	background-color:#003A90;
	color: #ffff !important;
	padding-top:10px;
	padding-bottom:10px;
}

.head2_con{
	/* background-color:#182F42; */
	padding-top:15px;
}

.head2_padding{
	padding-bottom:15px;
}

.head2_search{
	display:block;
	margin:auto 0;
}

.head2_search input{
	border-radius:0 !important;
	font-family:Helvetica !important;
	font-size:13px !important;
}

.head2_search button{
	border-radius:0 !important;
	background-color:#FBD509 !important;
	color:#606060 !important;
	font-family:Helvetica !important;
	font-size:13px !important;
	border:2px solid #FBD509 !important;
	height:100%;
}

.rs_search{
	padding:10px;
	border:1px solid #666666;
	display:none;
	border-radius:10px;
	position:absolute;
	background-color:white;
	width:100%;
	z-index:305;
	height:200px;
	overflow:auto;
	top:0;
	left:0;
    right:0;
}

.rs_search p{
	padding: 2px 10px;
	margin-bottom:5px !important;
}

.rs_search p:hover{
	background-color:#167ac6 !important;
	color:white;
	cursor:pointer;
}

.head_2_cr1_con{
	margin:auto 0;
}

.head_2_cr1{
	display:inline-block !important;
}

.head_2_cr1 img{
	display:inline-block;
	margin:auto;
}

.head_2_cr1 a{
	display:inline-block;
	margin:auto;
	color:#FFFFFF !important;
	margin-left:4%;
	text-decoration:none !important;
	cursor:pointer;
}

.head2_cr_2_con{
	margin-top:4%;
}

.head_2_cr2_btn1{
	background-color:#EE2300 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:robotoM !important;
	outline:none !important;
}

.head_2_cr2_btn2{
	background-color:#EDEDED !important;
	color:#58595B !important;
	border:none !important;
	font-family:robotoM !important;
	outline:none !important;
}

.head_under{
	border-bottom: 3px solid #D2A865;
    width: 60%;
    display: none;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.head_3_mn{
	background-color:#12252F;
	font-family:Arial !important;
	font-size:1.2em;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	padding-top:15px;
}

.head_3_mn a{
	color:#FDFDFD;
	text-decoration:none !important;
	padding-bottom: 15px;
	display:block;
	margin:auto;
}

.head_3_mn p{
	margin-bottom:0;
}

.head_3_mn:hover{
	background-color:#ffffff;
}

.head_3_mn:hover a{
	color:#474E51;
}

.head_3_mn:hover > .head_under{
	display:block;
}

.head_3_mn > .head_3_mn_active{
	color:#E79107 !important;
}

.hd_shop_login2{
	color:#ffffff !important;
	width:100%;
	background-color:transparent !important;
	border:0 !important;
	padding:0;
	outline:none !important;
}

.hd_shop_login4{
	top:130% !important;
	border-radius:0 !important;
	background-color:#ffffff;
	min-width:120px !important;
	left:5% !important;
}

.hd_shop_login5{
	display:block;
	margin:auto 0;
}

.hd_shop_login5 a{
	color:#ffffff !important;
	text-decoration:none !important
}

/* Modal */
	#search_in{
		float: right;
	}
	
	.cus_modalCon{
		border-radius:0 !important;
		background-color:#0C0C0C;
		padding:0;
		background-color:transparent !important;
		border:none !important;
		box-shadow:none !important;
	}

	.cus_modalHide{
		background-image:url('../images/mockup/sign_bg.jpg');
		background-size:cover;
		min-height:250px;
	}

	.cus_modalCenter{
		z-index:10;
		display:block;
		margin:auto;
	}

	.cus_modalCenter p{
		color:#F29100;
		font-size:1.2em;
		font-family:avenirBo !important;
		margin-top:15px;
	}

	.cus_modal_bg{
		width: 100%;
	    background-color: rgba(24, 47, 66, 0.8);
	    height: 100%;
	    position: absolute;
	    top:0;
	}

	.cus_modal_input{
		background-color: #ffffff;
		font-family:dinM !important;
	}

	.cus_modal_input1{
		padding:10% 8%;
	}

	.cus_modal_input1 > .form-group{
		margin-bottom:30px !important;
	}

	.cus_modal_tl{
		color:#F29100;
		font-size:1.8em;
		margin-bottom:30px;
		font-family:dinM !important;
	}

	.cus_modal_input1 > .form-group > .cus_modal_label{
		color:#ADADAD !important;
		font-size:0.9em;
		font-family:dinM !important;
	}

	.cus_modal_label2{
		color:#ADADAD !important;
		font-size:1em;
		font-family:dinM !important;
	}

	.cus_modal_input1 input{
		border:0 !important;
		border-bottom:4px solid #D8D6D6 !important;
		box-shadow:none !important;
		padding:0px !important;
		color:#999999 !important;
	}

	.cus_modal_submit button{
		width:100%;
		background-color:#F29100 !important;
		color:#ffffff !important;
		border-radius:0 !important;
		outline:none !important;
		margin-bottom:10px;
	}

	.cus_modal_submit2 button{
		width:100%;
		background-color:#F29100 !important;
		color:#ffffff !important;
		border-radius:0 !important;
		outline:none !important;
	}

	.cus_modal_link{
		margin-right:0;
		margin-left:0;
		text-align:right;
	}

	.cus_modal_link a{
		color:#787877 !important;
		font-size:1em;
		font-family:dinM !important;
		outline:none !important;
	}

	.cus_modal_link2{
		display:block;
		margin:auto;
	}

	.cus_modal_link2 a{
		color:#F29100 !important;
		outline:none !important;
	}
	/* End Modal */
/* End Header */

/* Login */
.login_con{
	background-size:cover;
	background-repeat:no-repeat;
}

.login_bg{
	background-color:rgba(255,255,255,0.5);
	background-position:center;
}

.login_cons{
	margin-top:8%;
	margin-bottom:8%;
	background-color:#ffffff;
	padding:2%;
}

#log_tl{
	font-family:dinM !important;
	color:#253671;
	font-size:3.4em;
	margin-bottom:30px;
}

.cus_group{
	margin-bottom:30px;
}

.cus_group label{
	font-family:dinM !important;
	font-size:1em;
	color:#ADADAD !important;
	margin-bottom:5px;
}

.cus_group input{
	border:none !important;
	border-bottom:1px solid #c2cad8 !important;
	border-radius:0 !important;
	box-shadow:none !important;
	color:#979797 !important;
	font-size:1em;
	padding-left:0;
	-webkit-box-shadow:none !important;
}

.cus_button{
	border-radius:0 !important; 
	width:100%;
	background-color:#253671 !important;
	font-size:1.2em;
	padding-top:15px;
	padding-bottom:15px;
	font-family:dinM !important;
	color:#ffffff !important;
	margin-bottom:15px;
}

#log_forgot{
	float:right;
	color:#787877 !important;
	font-size:1em;
	font-family:dinM !important;
}
/* End Login */

/* Register */
.regis_con{
	background-size:cover;
	background-repeat:no-repeat;
}

.regis_bg{
	background-color:rgba(255,255,255,0.5);
	background-position:center;
}

.regis_cons{
	background-color:#ffffff;
	padding:2% 4%;
}

.regis_cons2{
	background-color:#11BCCB;
	padding:4% 6%;
}

#reg_tl{
	font-family:dinM !important;
	color:#253671;
	font-size:3.4em;
	margin-bottom:30px;
}

#reg_tl2{
	font-family:dinM !important;
	color:#ffffff;
	font-size:2.2em;
	margin-bottom:30px;
	text-align:center;
}

.regis_text > .row{
	color:#ffffff;
	font-family:dinM !important;
	display:block;
	margin:auto 0;
}

.reg_txt{
	margin-bottom:35px;
}

.reg_text1{
	font-size:1.2em;
	margin-bottom:15px;
}

.reg_text2{
	font-size:1em;
}

.cus_group{
	margin-bottom:30px;
}

.cus_group label{
	font-family:dinM !important;
	font-size:1em;
	color:#ADADAD !important;
	margin-bottom:5px;
}

.cus_group input{
	border:none !important;
	border-bottom:1px solid #c2cad8 !important;
	border-radius:0 !important;
	box-shadow:none !important;
	color:#979797 !important;
	font-size:1em;
	padding-left:0;
	-webkit-box-shadow:none !important;
}

.cus_button2{
	border-radius:0 !important; 
	width:100%;
	background-color:#253671 !important;
	font-size:1em;
	padding-top:15px;
	padding-bottom:15px;
	font-family:dinM !important;
	color:#ffffff !important;
}

.reg_link{
	color:#253671 !important;
	text-align:center;
	font-family:dinM !important;
	font-size:1em;
	display:block;
	margin:auto;
}

.reg_link2{
	text-align:right;
	margin-bottom:15px;
}

.reg_copy{
	color:#ffffff !important;
	text-align:right;
	font-family:dinM !important;
	font-size:0.8em;
	display:block;
	margin:auto;
}

.reg_link2 a{
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:1.2em;
}
/* End Register */

/* Mini Cart */
.cart-box.popup{
	position:absolute;
	width:300px;
	z-index:100;
	top:10%;
	padding:15px 0 0 0;
	display:none;
}

.hd_cart_active{
	display:block !important;
}

.cart-box.popup .button-x{
	position:absolute;
	top:0;
	right:2px;
	cursor:pointer;
}

.cart-box.popup .popup-container{
	border:2px #ebebeb solid;
	padding:25px 20px 20px 20px;
	background:#fff;
	position:relative;
	max-height:500px;
	overflow:auto;
}

.cart-box.popup .image{
	float:left;
	width:70px;
}

.cart-box.popup .image img{
	display:block;
	width:100%;
	height:auto;
}

.cart-box.popup .cart-entry{
	padding-bottom:25px;
	margin-bottom:25px;
	border-bottom:2px #ebebeb solid;
	position:relative;
}

.cart-box.popup .content{
	margin:0 20px 0 85px;
}

.cart-box.popup .content .title{
	font-size:14px;
	line-height:14px;
	color:#666666;
	font-weight:600;
	margin-bottom:5px;
	display:block;
}

.cart-box.popup .content .title:hover{
	text-decoration:underline;
}

.cart-box.popup .content .quantity{
	font-size:13px;
	line-height:24px;
	color:#666666;
	margin-bottom:3px;
}

.cart-box.popup .content .price{
	font-size:18px;
	line-height:24px;
	color:#e11414;
	font-weight:600;
}

.cart-box.popup .summary{
	text-align:right;
	margin-bottom:25px;
}

.cart-box.popup .summary .subtotal{
	font-size:14px;
	line-height:22px;
	color:#666666;
	font-weight:600;
}

.cart-box.popup .summary .grandtotal{
	font-size:18px;
	line-height:22px;
	color:#666666;
	font-weight:600;
}

.cart-box.popup .summary .grandtotal span{
	color:#e11414;
}

.cart-buttons .column{
	width:100%;
	padding-left:5px;
	float:left;
}

.cart-buttons .column:first-child{
	padding-left:0;
	padding-right:5px;
}

.cart-buttons{
	display:block;
	margin-bottom:60px;
	text-align:center;
}

.button.style-3{
	font-size:12px;
	line-height:16px;
	font-weight:700;
	color:#666666;
	width:100%;
	text-transform:uppercase;
	background-color:transparent !important;
	display:inline-block;
	text-align:center;
	border:2px #666666 solid;
	padding:10px 5px;
}

.cssload-spin-box-mini {
	position: relative;
	margin: 5% auto;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
		-o-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
		-ms-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
		-webkit-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
		-moz-box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	animation: cssload-spin-mini ease infinite 4.6s;
		-o-animation: cssload-spin-mini ease infinite 4.6s;
		-ms-animation: cssload-spin-mini ease infinite 4.6s;
		-webkit-animation: cssload-spin-mini ease infinite 4.6s;
		-moz-animation: cssload-spin-mini ease infinite 4.6s;
}

@keyframes cssload-spin-mini {
	0%,
	100% {
		box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	}
	25% {
		box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
	}
	50% {
		box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

@-o-keyframes cssload-spin-mini {
	0%,
	100% {
		box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	}
	25% {
		box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
	}
	50% {
		box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

@-ms-keyframes cssload-spin-mini {
	0%,
	100% {
		box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	}
	25% {
		box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
	}
	50% {
		box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

@-webkit-keyframes cssload-spin-mini {
	0%,
	100% {
		box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	}
	25% {
		box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
	}
	50% {
		box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}

@-moz-keyframes cssload-spin-mini {
	0%,
	100% {
		box-shadow: 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223);
	}
	25% {
		box-shadow: -15px 15px rgb(223,223,223), -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73);
	}
	50% {
		box-shadow: -15px -15px rgb(79,77,73), 15px -15px rgb(223,223,223), 15px 15px rgb(79,77,73), -15px 15px rgb(223,223,223);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
/* End Mini Cart */

/* Cart */
.cart-loader{
	margin-top:45px;
	margin-bottom:45px;
}

.cart_shop_head{
	margin-top:45px;
}

.cart_body{
	display:block;
	margin:auto;
	display:inline-block !important;
}

.cart_category{
	font-family:dinM !important;
	font-size:1em;
	color:#333333;
	text-transform:uppercase;
}

.cart_subcategory{
	font-family:avenirLo !important;
	font-size:1em;
	color:#333333;
	text-transform:uppercase;
}

.cart_name_pro{
	font-family:Arial !important;
	color:#474646;
	font-size:1.2em !important;
	font-weight:600 !important;
}

.cart_head{
	padding-top:10px;
	color:#333333 !important;
	font-family:opensansB !important;
	font-size:1.2em;
}

.cart_span{
	margin-top:5px;
	font-family:opensansB !important;
	font-size:1.2em;
	color:#12252F;
	display:block !important;
	margin:auto;
}

.cart_span2{
	font-family:opensansB !important;
	font-size:1.2em;
	color:#12252F;
	display:block !important;
	margin:auto;
}

.cart_input{
	width:50%;
	text-align:center;
}

.cart_input input{
	text-align:center;
}

.cart_button{
	float:right;
	background-color:transparent !important;
	border:none !important;
	color:#666666 !important;
}

.cart_button_check{
	background-color:#9E9E9E !important;
	padding-left:15px;
	padding-right:15px;
	height:100%;
	outline:none !important;
}

.cart_button_check a{
	display:block;
	margin:auto;
}

.cart_button_check button{
	background-color:transparent !important;
	padding:10px 5px;
	color:#ffffff !important;
	border:0 !important;
	width:100%;
}

.cart_con2{
	border-bottom:1px solid #666666;
	margin-top:20px;
	padding-bottom:30px;
	margin-bottom:20px;
}

.cart_con3{
	margin-top:20px;
	font-family:opensansL !important;
}

.cart_con3 > div > div > h3{
	color:#333333 !important;
	font-weight:normal !important;
	font-size:1.2em !important;
	margin-bottom:15px;
}

.cart_con3 > div > div > p{
	color:#666666 !important;
}

.cart_con3_title{
	font-family:opensansL !important;
	color:#666666 !important;
	font-weight:600;
	font-size:1em;
}

.cart_con3_h{
	color:#683B11 !important;
}

.cart_con3_body{
	margin-bottom:20px;
	font-size:1em;
}

.cart_con3_input{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	width:100%;
}

.cart_con3_button{
	width:100%;
	padding:10px 20px;
	background-color:#818181;
	border:none !important;
	color:#ffffff !important;
	font-family:opensansB;
	margin-top:20px;
	margin-bottom:20px;
	outline:none !important;
}

.cart_con3_select{
	padding:10px 10px 10px 4px;
	width:100%;
	color:#666666 !important;
}

.cart_con4{
	color:#666666 !important;
	padding:40px;
}

.up_total{
	color:#EE3233;
	font-family:opensansB !important;
	font-size:22px;
	text-align:right;
}

.up_desc{
	color:#333333;
	font-size:1.4em;
	text-align:left;
	font-family:opensansL !important;
	font-weight:600;
}

.up_num{
	font-family:opensansB;
	font-size:1.6em;
	text-align:right;
	color:#818181;
}

.up_span{
	float:right;
}

.cart_con4_total{
	font-family:opensansB;
	margin-bottom:10px;
	padding-top:20px;
	border-top:1px solid #757575;
	margin-top:15px;
}

.cart_con4_button{
	background-color:#DB0B0B;
}

.cart_con4_button a{
	display:block;
	margin:auto;
}

.cart_con4_button button{
	width:100%;
	padding:10px 5px;
	background-color:transparent !important;
	border:none !important;
	color:#ffffff !important;
	font-family:opensansB;
	outline:none !important;
}

.total_grand_total{
	margin-top:20px;
}

.cart_empty{
	margin-top:2%;
	margin-bottom:2%;
}

.cart_rekomen{
	margin-bottom:5%;
}

.cart_btns{
	margin-bottom:15px;
	font-family:dinR !Important;
}

/* Add Minus Product */
	.quantity-selector{
		font-size: 0;
		display: block !important;
   	 	margin: auto;
	}

	.quantity-selector .button{
		margin-right: 20px;
	}

	.quantity-selector .entry{
		border: 1px #d1d1d1 solid; 
		height: 37px; 
		line-height: 35px; 
		width: 37px; 
		margin-left: -1px; 
		display: inline-block; 
		cursor: pointer; 
		position: relative; 
		font-size: 12px; 
		color: #4c4c4c; 
		text-align: center; 
		user-select: none; 
		-webkit-user-select: none; 
		-moz-user-select: none;
	}

	.quantity-selector .entry.number-minus:before, .quantity-selector .entry.number-plus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 60px !important;
	}

	.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2:before, .quantity-selector .entry.number-plus2:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus2:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number2{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 40px !important;
	}

	.quantity-selector .entry.number-minus2:hover, .quantity-selector .entry.number-plus2:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus2:active, .quantity-selector .entry.number-plus2:active{
		background: #EFEFF0;
	}
	/* End Add Minus Product */
/* End Cart */

/* Home */
/* Clarity */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.cus_slide{
	min-height:180px;
}

.swiper-pagination{
	text-align:right;
	padding-right:3%;
	padding-left:3%;
}

.swiper-pagination-bullet {
  width:4em;
  height:0.3em;
  background-color:#FFF1F1;
  border-radius:0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #4C4949;
}

.home_als{
	margin-top:35px;
	margin-bottom:35px;
}

.home_als_tl{
	font-family:dinM !important;
	font-size:1.2em;
	color:#253671;
	text-transform:uppercase;
	margin-bottom:15px;
	text-align:justify;
}

.home_als_des{
	font-family:dinM !important;
	font-size:1em;
	color:#253671;
}

.home_cat_con{
	margin-bottom:5%;
}

#home_cat_tl{
	font-size:2.8em;
	font-family:avenirM !important;
	color:#253671;
	text-align:center;
	margin-bottom:15px;
}

#home_cat_desc{
	font-size:1.2em;
	font-family:avenirM !important;
	color:#707070;
	text-align:center;
	margin-bottom:30px;
}

.home_cat_img{
	padding-left:15px;
	padding-right:15px;
	position:relative;
}

.home_cat_button{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
}

.home_cat_button a{
	color:#253671;
	font-size:1em;
	font-family:dinL !important;
	text-align:center;
	display:block;
}

.home_cat_button button{
	background-color:#F1F0F2 !important;
	border-radius:0 !important;
	border:0 !important;

}

.home_subcat_tl{
	font-family:dinM !important;
	color:#253671;
	font-size:1.2em;
	text-align:center;
	margin-top:20px;
	margin-bottom:5px;
}

.home_subcat_des{
	font-family:dinL !important;
	color:#353535;
	font-size:1em;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home_product_con{
	margin-bottom:5%;
}

.home_div_disc{
	width:auto;
	background-color:#3B4580;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.home_product_name{
	margin-top:10px;
	margin-bottom:5px;
}

.home_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	text-transform:uppercase;
	font-size:1em;
}

.home_product_cat{
	color:#666666 !important;
	font-family:dinL !important;
	font-size:1em;
	margin-bottom:3px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.home_product_disc{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.home_product_disc_none{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.home_product_rl{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
	margin-bottom:15px;
}

.home_product_block{
	max-width:100%;
	display:block;
	margin:auto 0;
}

.home_product_rl i{
	float:right;
}

.home_product_icon_n{
	color:#595959;
	cursor:pointer;
}

.home_product_icon_y{
	color:#0448A6;
	cursor:pointer;
}

.home_cart_button button{
	background-color:#0448A6;
	border:0 !important;
	border-radius:0 !important;
	color:#ffffff !important;
	font-family:dinR !important;
	font-size:1em;
	width:100%;
}

.home_product_dll{
	margin-bottom:15px;
	text-align:right;
}

.home_product_dll a{
	color:#666666;
	font-size:1em;
	font-family:dinM !important;
	text-decoration:none !important;
}

.home_banner{
	margin-bottom:5%;
}

.home_banner_con{
	position:relative;
}

.home_banner_con img{
	min-height:250px;
}

.home_banner_cons{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:flex;
   	display: -webkit-flex;
	background-image:url('../images/other/opacity_home.png');
	background-size:cover;
}

.home_banner_sub{
	display:block;
	margin:auto;
}

#home_banner_text{
	margin-bottom:30px;
}

#home_banner_text p{
	font-family:dinM !important;
	font-size:2em;
	text-align:center;
	color:#ffffff;
	margin-bottom:5px;
}

.home_subscribe input{
	border-radius:0 !important;
}

.home_subscribe button{
	background-color:#2E318E;
	color:#ffffff !important;
	font-family:dinM !important;
	border-radius:0 !important;
}

/* Product Terbaru */
.home_terbaru{
	margin-bottom:3%;
}

.home_terbaru_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.home_terbaru_tl span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
}
/* End Product Terbaru */

/* Product Rekomendasi */
.home_rekomem{
	margin-bottom:3%;
}

.home_rekomen_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.home_rekomen_tl span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
}
/* End Product Rekomendasi */

/* Product Promo */
.home_promo{
	margin-bottom:3%;
}

.home_promo_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.home_promo_tl span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
}
/* End Product Promo */
/* End Clarity */

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

/*.home_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
}

.home_product_con:hover{
	border:2px solid #50FF60;
}*/

.home_div_disc2{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.home_product_dll a > p{
	margin-bottom:0;
}
/* End Home */

/* Aksesoris */
.akse_con1{
	margin-top:5%;
	margin-bottom:3%;
}

.akse_tl h1{
	margin-top:0;
	margin-bottom:20px;
	font-size:1.2em;
	color:#12252F;
}

.akse_content1{
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:35px;
}

.akse_product_con{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:10px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.akse_product_con:hover{
	border:2px solid #50FF60;
}

.akse_product_con2{
	width: 20%;
	float:left;
	border:2px solid #D7D2CD;
	margin-bottom:10px;
	-webkit-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	-moz-box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
	box-shadow: 3px 17px 46px -8px rgba(215,210,205,1);
}

.akse_product_name{
	margin-top:10px;
	min-height:3.5em;
}

.akse_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em;
}

.akse_product_disc p{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.akse_product_disc_none p{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.akse_product_rl p{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
}

.akse_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.akse_div_disc{
	width:auto;
	background-color:#79187C;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.akse_price{
	position:absolute;
	bottom:0;
}

.akse_categor_img{
	height:85%;
	position:relative;
	background-size:cover;
	background-position:center;
	min-height:250px;
}

.akse_categor_img a{
	width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    cursor:pointer;
}

.akse_categor_tl{
	height:15%;
	display:flex;
   	display: -webkit-flex;
	min-height:50px;
}

.akse_categor_tl a{
	color:#ffffff !important;
	font-family:dinL !important;
	font-size:1.6em;
	text-align:center;
	display:block;
	margin:auto;
	text-decoration:none !important;
	outline:none !important;
    cursor:pointer;
}

.akse_categor_tl a > p{
	margin-bottom:0;
}

.akse_dll{
	text-align:right;
	height:30px;
}

.akse_dll a{
	cursor:pointer;
	display:block;
	margin:auto 0;
	color:#ffffff !important;
	text-decoration:none !important;
	outline:none !important;
	font-size:1em;
	font-family:dinR !important;
}

.akse_dll p{
	margin-bottom:0;
}
/* End Aksesoris */

/* Product */
.product_con{
	margin-top:5%;
	margin-bottom:15px;
}

.lSGallery li > a > img{
	border:3px solid #efefef;
}

.lSGallery > .active > a > img{
	border:3px solid #003A90 !important;
}

.product_l{
	padding:45px;
	margin-bottom:30px;
	border:1px solid #E5E5E5;
}

.product_name{
	font-family:dinM !important;
	font-size:1.8em;
	color:#666666;
	margin-top:0;
	margin-bottom:15px;
	text-transform:capitalize;
}

.product_category{
	font-family:dinL !important;
	font-size:1.2em;
	color:#666666 !important;
	margin-bottom:15px;
	text-transform:capitalize;
}

.product_disc{
	text-decoration:line-through;
	font-size:1.4em;
	color:#7C7B7B;
	font-family:dinL !important;
	margin-bottom:0;
	margin-bottom:3px;
}

.product_price{
	margin-bottom:15px;
}

.product_rl{
	font-size:1.8em;
	color:#DA0B0B;
	font-family:dinR !important;
	font-weight: 600;
	margin-bottom:0;
}

.product_img_disc{
	width:auto;
	border-radius:50%;
	background-color:#3B4580;
	min-height: 70px;
	display:flex;
   	display: -webkit-flex;
  	margin:auto auto auto 0;
}

.product_img_disc div{
	margin-bottom:0;
	color:#ffffff;
	display:block;
	margin:auto;
	font-size:1.6em;
}

.product_icon_n{
	color:#595959;
	cursor:pointer;
	margin-top:2%;
}

.product_icon_y{
	color:#0448A6;
	cursor:pointer;
	margin-top:2%;
}

.product_stock{
	font-family:robotoL !important;
	color:#999999;
	margin-top:30px;
	margin-bottom:15px;
}

.product_stock p{
	font-size:1.2em;
	display:inline-block;
}

.atr_pro_con{
	margin-bottom:15px;
}

.product_attr{
	text-transform:capitalize;
	margin-bottom:10px;
	font-family:dinL !important;
	font-size:1.6em;
	color:#666666;
}

.product_attr_con{
	display:inline-block;
	margin-bottom:10px;
}

.product_attr_con:hover > .product_attr_name{
	display:block !important;
}

.product_attr_con.active > .product_attr_name{
	display:block !important;
}

.product_attr_hov:hover{
	border:2px solid #5E5E5E;
}

.product_attr_color{
	border:1px solid #666666;
	width:60px;
	height:60px;
	cursor:pointer;
	position:relative;
	display:block;
	margin:auto;
}

.product_attr_name{
	color:#666666;
	text-align:center;
	font-size:1.2em;
	display:none;
	margin:5px auto auto auto;
	text-transform:capitalize;
}

.product_dot{
	background-color:#5E5E5E;
	border:2px solid #ffffff;
	width:15px;
	height:15px;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	border-radius:50%;
	display:block;
	margin:auto;
	display:none;
}

.product_attr_color.active{
	border:2px solid #5E5E5E;
}

.product_attr_color.active > .product_dot{
	display:block !important;
}

.product_attr_color:hover > .product_dot{
	display:block !important;
}

.product_attr_text{
	border:1px solid #666666;
	min-width:60px;
	cursor:pointer;
    text-align: center;
	float:left;
	padding:5px;
	color:#666666;
	font-family:dinL !important;
	font-size:1.4em;
	text-transform:capitalize;
}

.product_attr_text.active{
	border:2px solid #5E5E5E;
}

.product_stock_av{
	background-color:#2FA743;
	font-family:dinL !important;
	text-align:center;
	padding:2px 15px;
	color:#ffffff;
	margin-left:20px;
	font-size:1.4em;
	line-height:180%;
}

.product_stock_hb{
	background-color:#DA0B0B;
	font-family:dinL !important;
	text-align:center;
	padding:2px 15px;
	color:#ffffff;
	margin-left:20px;
	font-size:1.4em;
	line-height:180%;
}

.product_type{
	font-family:robotoL !important;
	margin-bottom:15px;
}

.product_type select{
	border:none !important;
	outline:none !important;
	font-size:1.2em !important;
	color:#999999 !important;
	box-shadow:none !important;
	width:auto;
	text-transform:capitalize;
}

.product_grosir_tl{
	background-color:#DA0B0B;
	padding-top:5px;
	padding-bottom:5px;
	font-size:1.2em !important;
	font-family:dinM !important;
}

.product_grosir_tl p{
	color:#ffffff;
	margin-bottom:0;
}

.product_grosir_con{
	border:1px solid #d1d1d1;
	font-size:dinL !important;
	font-size:1.2em !important;
}

.product_grosir_con p{
	margin-top:5px;
	margin-bottom:5px;
}
	/* Add Minus Product */
	.quantity-selector{
		font-size: 0;
		display: block !important;
   	 	margin: auto;
	}

	.quantity-selector .button{
		margin-right: 20px;
	}

	.quantity-selector .entry{
		border: 1px #d1d1d1 solid; 
		height: 37px; 
		line-height: 35px; 
		width: 37px; 
		margin-left: -1px; 
		display: inline-block; 
		cursor: pointer; 
		position: relative; 
		font-size: 12px; 
		color: #4c4c4c; 
		text-align: center; 
		user-select: none; 
		-webkit-user-select: none; 
		-moz-user-select: none;
	}

	.quantity-selector .entry.number-minus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #A4A4A4; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #ffffff; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #ffffff; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 40px !important;
	}

	.entry.number-plus{
		background-color:#A4A4A4;
	}

	.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus{
	    margin-left: 0;
	    margin-top: 3%;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747 !important;
	}

	.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{
		background: #EFEFF0;
	}
	/* End Add Minus Product */

.product_qty{
	margin-bottom:45px;
	margin-top:30px;
}

.product_button{
	font-family:dinR !important;
	font-size:1em !important;
	color:#ffffff;
	font-weight:600;
	margin-top:15px;
	margin-bottom:15px;
}

.product_button a{
	color:#ffffff !important;
	text-decoration:none !important;
	outline:none !important;
}

.product_button button{
	width:100%;
	border:none !important;
	outline:none !important;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
}

.product_button_l button{
	background-color:#0448A6;
	color:#FFA100;
}

.product_button_r button{
	background-color:#FFA100;
	color:#FFFFFF;
}

.product_desc{
	margin-bottom:45px;
}

.product_desc_tl{
	color:#131312;
	font-size:1.4em !important;
	font-family:dinM !important;
	margin-bottom:10px;
}

/*.product_rekom{
	margin-bottom:3%;
}*/

.product_rekom_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.product_rekom_tl span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
}

.product_rekom_con{
	margin-bottom:5%;
}

.rekom_div_disc{
	width:auto;
	background-color:#3B4580;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.rekom_product_name{
	margin-top:10px;
	margin-bottom:5px;
}

.rekom_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	text-transform:uppercase;
	font-size:1em;
}

.rekom_product_cat{
	color:#666666 !important;
	font-family:dinL !important;
	font-size:1em;
	margin-bottom:3px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rekom_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.rekom_product_disc{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.rekom_product_disc_none{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.rekom_product_rl{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
	margin-bottom:15px;
}

.rekom_product_block{
	max-width:100%;
	display:block;
	margin:auto 0;
}

.rekom_product_rl i{
	float:right;
}

.rekom_product_icon_n{
	color:#595959;
	cursor:pointer;
}

.rekom_product_icon_y{
	color:#0448A6;
	cursor:pointer;
}

.rekom_cart_button button{
	background-color:#0448A6;
	border:0 !important;
	border-radius:0 !important;
	color:#ffffff !important;
	font-family:dinR !important;
	font-size:1em;
	width:100%;
}
/* End Product */

/* Category Product */
/* Clarity */
.cate_con{
	margin-top:45px;
	margin-bottom:10px;
}

.cate_banner{
	background-size:cover;
}

.cate_banner img{
	min-height:280px;
}

.cat_abso{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

.cat_absoL{
	background-color:#0C638F;
	color:#ffffff;
	padding:30px;
	display:block;
	margin:auto auto auto 0;
	font-family:dinL !important;
	font-size:1.2em;
	position:relative;
}

.cat_absoL span{
  	display: -webkit-box;
  	-webkit-line-clamp: 4;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.span_line{
	display:inline-block;
	margin:auto;
	width:100%;
	border:1px solid #ffffff;
}

.cat_absoR{
	position: absolute;
    right: 5px;
    bottom: 5px;
}

.cat_absoR span{
	padding:15px;
	font-weight:600;
	background-color:#ffffff;
	width:auto;
	display:block;
	margin:auto 15px 15px auto;
	text-align:center;
	font-size:1.2em;
	color:#353535;
	font-family:dinL !important;
}

.cate_product_con{
	margin-bottom:5%;
}

.cate_div_disc{
	width:auto;
	background-color:#3B4580;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.cate_product_name{
	margin-top:10px;
	margin-bottom:5px;
}

.cate_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	text-transform:uppercase;
	font-size:1em;
}

.cate_product_cat{
	color:#666666 !important;
	font-family:dinL !important;
	font-size:1em;
	margin-bottom:3px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cate_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.cate_product_disc{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.cate_product_disc_none{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.cate_product_rl{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
	margin-bottom:15px;
}

.cate_product_rl i{
	float:right;
}

.cate_product_block{
	max-width:100%;
	display:block;
	margin:auto 0;
}

.cate_product_icon_n{
	color:#595959;
	cursor:pointer;
}

.cate_product_icon_y{
	color:#0448A6;
	cursor:pointer;
}

.cate_cart_button button{
	background-color:#0448A6;
	border:0 !important;
	border-radius:0 !important;
	color:#ffffff !important;
	font-family:dinR !important;
	font-size:1em;
	width:100%;
}

.cate_pagination{
	display:block;
	margin:auto;
	text-align:center;
}

.cate_pagination>.pagination{
	margin-bottom:35px;
}

.cate_pagination>.pagination>.active>span{
	background-color:#003A90 !important;
	border-color:#003A90 !important;
}

.cate_pagination>.pagination>li>a{
	color:#777 !important;
}

.cate_pagination.pagination>li:last-child>a{
	color:#EC1C24 !important;
}

.cat_product{
	margin-top:3%;
}

.cat_product_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.cat_product_tl span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
}
/* End Clarity */
/* End Category Product */

/* Filter Product */
.flt_product_con{
	margin-bottom:5%;
}

.flt_div_disc{
	width:auto;
	background-color:#3B4580;
	padding:10px 5px;
	font-family:dinM !important;
	font-size:2em;
	color:#ffffff;
	border-radius:50%;
}

.flt_product_name{
	margin-top:10px;
	margin-bottom:5px;
}

.flt_product_name a{
	color:#666666 !important;
	cursor:pointer;
	font-family:dinM !important;
	text-decoration:none !important;
	text-transform:uppercase;
	font-size:1em;
}

.flt_product_cat{
	color:#666666 !important;
	font-family:dinL !important;
	font-size:1em;
	margin-bottom:3px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.flt_img_disc{
	position:absolute;
	top:0%;
	right:5%;
}

.flt_product_disc{
	text-decoration:line-through;
	color:#7C7B7B;
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.flt_product_disc_none{
	font-size:1em;
	font-family:dinL !important;
	margin-bottom:0 !important;
}

.flt_product_rl{
	color:#DA0B0B; 
	font-family:dinM !important;
	font-size:1.5em;
	margin-bottom:15px;
}

.flt_product_block{
	max-width:100%;
	display:block;
	margin:auto 0;
}

.flt_product_rl i{
	float:right;
}

.flt_product_icon_n{
	color:#595959;
	cursor:pointer;
}

.flt_product_icon_y{
	color:#0448A6;
	cursor:pointer;
}

.flt_cart_button button{
	background-color:#0448A6;
	border:0 !important;
	border-radius:0 !important;
	color:#ffffff !important;
	font-family:dinR !important;
	font-size:1em;
	width:100%;
}

.flt_product_dll{
	margin-bottom:15px;
	text-align:right;
}

.filter_product{
	margin-top:3%;
	margin-bottom:3%;
}

.filter_product_tl{
	color:#353535;
	text-align:center;
	font-family:dinL !important;
	font-size:2.8em;
	margin-bottom:5%;
}

.filter_product span{
	padding-bottom:5px;
	border-bottom:3px solid #253671;
	text-transform:capitalize;
}

.flt_pagination>.pagination{
	margin:auto;
	margin-bottom:35px;
}

.flt_pagination>.pagination>.active>span{
	background-color:#003A90 !important;
	border-color:#003A90 !important;
}

.flt_pagination>.pagination>li>a{
	color:#777 !important;
}

.flt_pagination.pagination>li:last-child>a{
	color:#EC1C24 !important;
}
/* End Filter Product */

/* Footer */
/* This parent can be any width and height */
.block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.foot_con1{
	/*background-color:#12252F;*/
	padding-top:30px;
	background-image: url(../images/other/footer_bg.png);
	background-size: cover;
	/* background-color: rgba(255,255,255,0.5); */
}

.foot_cons{
	width:20%;
	float:left;
	margin-bottom:30px;
}

.foot_cons2{
	width:20%;
	float:left;
	margin-bottom:30px;
}

.foot_tl {
	margin-bottom:10px;
}

.foot_tl p{
	color: #253671;
	font-family:dinM !important;
	font-size:1.4em;
}

.foot_tl_info{
	list-style-type:none;
	padding-left:0;
}

.foot_tl_info li{
	margin-bottom:10px;
}

.foot_tl_info li > a{
	color:#474747;
	font-family:dinM !important;
	text-decoration:none !important;
	font-size:1em !important;
	text-transform:capitalize !important;
}

.foot_pembayaran{
	margin-bottom:20px;
}

.foot_pembayaran img{
	margin-bottom:10px;
}

.foot_pembayaran p{
	color: #474747;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_contact{
	margin-bottom:5px;
}

.foot_contact img{
	display:inline-block;
}

.foot_contact p{
	color: #253671;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
	display:inline-block;
}

.foot_tt_k p{
	color: #474747;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_subscribe p{
	color:#ffffff;
	font-family:dinM !important;
	margin-bottom:0;
	font-size:1em;
}

.foot_subscribe input{
	border-radius:0 !important;
}

.foot_subscribe button{
	background-color:#EC1C24 !important;
	border:2px solid #EC1C24 !important;
	outline:none !important;
	border-radius:0 !important;
}

.foot_logo{
	margin-bottom:30px;
}

.foot_con2{
	background-color: #253671;
	height:15px;
}

.foot_con3{
	background-color:#AB161D;
	padding-top:10px;
	padding-bottom:10px;
}

.foot_con3_con a{
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:1.1em;
	text-align:right;
	text-decoration:none !important;
}

.foot_con3_con p{
	margin-bottom:0;
}
/* End Footer */

/* Standard Css checkout */
/* Checkout */
.shop_checkout_con{
	padding-top:5%;
	padding-bottom:5%;
}

.shop_checkout_guest_tl{
	color:#333333;
	font-family:opensansL !important;
	font-size:30px;
}

.shop_checkout_guest_desc{
	color:#808080;
	font-family:opensansL !important;
	font-size:14px;
	margin-bottom:15px;
}

.shop_checkout_guest_input{
	color:#B5B0B1 !important;
}

.shop_checkout_guest_buttona{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #9E9E9E;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
    text-decoration:none !important;
    font-size:1em;
}

.shop_checkout_guest_buttonb{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #DB0B0B;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
    font-size:1em;
}

.hd_btn_login2{
	background-color:#F29100 !important;
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:1em !important;
	border:0 !important;
	border-radius:0 !important;
	padding:3% 10%;
}
/* End Checkout */


/* Checkout Detail */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}

.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Checkout Detail */

/* Profile */
.profile_con{
	padding-top:5%;
	padding-bottom:5%;
}

.pl_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.pl_2{
	background-color:transparent;
	border:1px solid #666666;
	padding:10px 30px;
	color:#666666 !important;
	border-radius:10px;
}

.pl_3{
	margin-top:20px;
}

.pl_4{
	margin-bottom:10px;
}

.pl_5{
	margin-bottom:5px;
}

.pl_6{
	text-align:right;
}

.pl_7{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.pl_8{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.pl_8_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.pl_8_2{
	border:1px solid #683B11;
	width:32px;margin-bottom:20px;
}

.pl_9{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.pl_10{
	color:#666666 !important;
}
/* End Profile */

/* Edit Profile */
.ep_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ep_2{
	margin-bottom:10px;
}

.ep_2_1{
	margin-bottom:5px;
}

.ep_3{
	text-align:right;
}

.ep_4{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensans !important;
	border:none!important;
}

.ep_10{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#EE3233;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:0 !important;
	text-align:center;
	text-decoration:none !important;
	outline:none !important;
}

.ep_5{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ep_6{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ep_7{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ep_8{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ep_9{
	color:#666666 !important;
}
/* End Edit Profile */

/* Histori Order */
.histori_con{
	padding-top:5%;
	padding-bottom:5%;
}

.oh_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.oh_2{
	margin-top:20px;
}

.oh_2_1{
	border:1px solid white;
}

.oh_2_2{
	background-color:#666666;
	color:#ffffff !important;
}

.oh_3{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.oh_3_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.oh_3_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.oh_4{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.oh_5{
	color:#666666 !important;
}
/* End Histori Order */

/* Detail Order */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}
.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Detail Order */

/* Change Password */
.change_password_con{
	padding-top:5%;
	padding-bottom:5%;
}

.ch_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ch_2{
	margin-bottom:10px;
}

.cH_2_1{
	margin-bottom:5px;
}

.ch_3{
	text-align:right;
}

.ch_3_1{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.ch_4{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ch_4_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ch_4_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ch_5{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ch_6{
	color:#666666 !important;
}
/* End Change Password */
/* End Standard css checkout */

/* Kontak Servis */
.ct_us_ds_mds{
	text-align:center;
}

.ks_content_2{
	position:relative;
}

.ap_submit_btn{
	background-color:#0c638f;
	color: white !important;
	font-family: Raleway-Bold;
	border-radius: 0;
	padding: 10px 16px;
}

.ap_input_con{

}

.form-control-cust{
	border-radius: 0;
	margin-bottom: 10px;
}

.ap_label_r{
	padding-left: 0;
	padding-right: 0;
}

.ks-form-header{
	font-size: 1.2em;
}

.ks-form{
	font-family: Avenir-Light;
	margin-bottom: 10px;
}

.ks_content_1{
	height: 626px;
}
.address_dt p{
	margin-bottom: 0;
	font-size: 0.9em;
}

.address{
	font-family: Avenir-Light;
	padding: 0 20px 20px 20px;
}

.address h4{
	font-weight: bold;
	font-style: italic;
}

.kontak_kami_header_1{
	font-size: 0.8em;
}

.kontak_kami_header{
	text-align:right;
	padding-right: 10px;
	padding-top: 10px;
}
.kontak_kami{
	background-color:#0c638f;
	margin-left: 10%;
	width: 25%;
	color: white;
}

.cari_lokasi{
	background-color:#0c638f;
	position: absolute;
	top: -25%;
	right: 0;
	margin-right: 20%;
	color: white;
}

.cari_lokasi_header{
	
}

.cari_lokasi_header_1{
font-size: 0.9em;
}

.cari_lokasi_dt{
	
}

.cari_lokasi_dt h4{
	font-weight: bold;
	font-style: italic;
}


.ks_header_dt_1{
	border-bottom:solid 2px #333;
	padding-top: 9px;
}

.ks_header_dt_2{
	font-size: 1em;
}

.ks_header{
	font-family: Avenir-Light !important;
}

.ks_header_dt{
	font-style:italic;
	font-size:1.2em;
	height: 20px;
}

.abo_banner{
	background-size:cover;
	position:relative;
}

.abo_banner_con{
	margin:10% 0;
}

.cus_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url('../images/mockup/intrac_op.png');
	background-size:cover;
}

.abo_banner h1{
	font-size:3.5em;
	color:#ffffff;
	font-family:dinR !important;
	font-weight:600;
}

.abo_con1{
	padding-top:60px;
	padding-bottom:25px;
}

.abo_con1_1{
	font-family:dinM !important;
	font-size:1.2em;
	color:#262626;
	text-align:justify;
	margin-bottom:4%;
}

.abo_con1_2{
	margin-bottom:5%;
}

.abo_con1_2 span{
	background-color:#12252F;
	padding:15px;
	color:#ffffff;
	font-family:dinM !important;
	font-size:1.4em;
}

.abo_cons_img{
	position: relative;
	width: 100%;
}	
.abo_con_img {
	position: relative;
	float: left;
	overflow: hidden;
	width: 12.5%; /* Fallback */
	width: -webkit-calc(100% / 8);
	width: calc(100% / 8); 
	margin-bottom:35px;
}

.abo_con_img img{
	max-width:105px;
}
/* End Kontak Servis */

/* Informasi */
.info_con{
	padding-top:5%;
	padding-bottom:5%;
}

.info_cus_pill li{
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:15px;
}

.info_cus_pill a{
	color:#12252F !important;
	font-size:1.2em;
	text-decoration:none !important;
	outline:none !important;
	background-color:transparent !important;
	font-family:dinM !important;
}

.info_cus_pill ul > .active{
	border-right:4px solid #A9AAAA;
}

.info_content h3{
	color:#EC1C24;
	margin-bottom:0;
}

.info_content p{
	color:#000000;
	font-family:dinL !important;
	font-size:1.2em;
	margin-bottom:0;
}
/* End Informasi */

/* Cara Beli */
.cb_banner{
	background-size:cover;
	position:relative;
}

.cb_banner_con{
	/* margin:10% 0; */
	text-align: left;
}

.cb_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	/* background-image:url('../images/mockup/intrac_opr.png'); */
	background-size:cover;
}

.cb_banner h1{
	font-size:3.5em;
	color: #333333;
	font-family: avenir;
	font-weight:600;
}

.cr_bl_cons{
	padding-top:5%;
}

.cr_bl_con1{
	margin-bottom:45px;
}

.cr_bl_con1 span{
	background-color:#12252F;
	padding:15px;
	color:#ffffff;
	font-family:dinM !important;
	font-size:1.4em;
}

.cr_bl_con1_2{
	margin-bottom:4%;
	font-family:dinL !important;
	font-size:1.2em;
}

.cr_bl_con1_2 p{
	margin-bottom:0;
	color:#262626;
}

.cr_bl_con1_2 ul{
	padding-left:1em;
	color:#494848;
}
/* End Cara Beli */

/* Kontak Kami */
.hk_content_2{
	font-family: dinR;
	font-size: 1.1em;
}

.hk{
	color:#333333;
	line-height: 25px;
	font-size: 1em;
}

.hk_email{
	
background-color: #e2e2e2;
	
height: 140px;
	
margin-right: 10%;
	
padding: 20px;
	
line-height: 25px;
}

.hk_telepon{
	
background-color: #e2e2e2;
	
height: 140px;
	
padding: 20px;
	
line-height: 25px;
}

.ct_us_banner{
	background-size:cover;
	position:relative;
}

.ct_us_banner_con{
	margin:10% 0;
}

.ct_us_abo_op{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url('../images/mockup/intrac_op.png');
	background-size:cover;
}

.ct_us_banner h1{
	font-size:3.5em;
	color:#ffffff;
	font-family:dinR !important;
	font-weight:600;
}

.ct_us_cons{
	padding-top:5%;
}

.ct_us_map{
	margin-bottom:5%;
}

.ct_us_ds_con{
	display:flex;
   	display: -webkit-flex;
	margin-bottom:45px;
}

.ct_us_dsl{
	display:inline-block;
	margin-right:5px;
}

.ct_us_dsr{
	display:inline-block;
}

.ct_us_dsr p{
	margin-bottom:0;
	font-family:dinL !important;
	font-size:1em;
}

.ct_us_ds_md_tl{
	color:#F6921E;
	font-family:dinR !important;
	font-size: 1.5em;
	margin-bottom:5px;
	text-align: center;
}

.ct_us_ds_mds img{
	display:inline-block;
	margin-right:5px;
}

.ct_us_ds_mds p{
	display:inline-block;
}

.ct_us_ds_mds2{
	background-color:#12252F;
	width:auto;
	margin-left:15px;
	padding-left:0;
	padding-top:5px;
}

.ct_us_ds_mds2 img{
	display:inline-block;
	margin-right:5px;
}

.ct_us_ds_mds2 p{
	display:inline-block;
	color:#ffffff;
	margin-bottom:5px
}

.font-white{
	color: #ffffff !important;
}
/* End Kontak Kami */

/* Media screen */
@media screen and (max-width:425px){
	.menu-mobile{
		display: block !important;
	}

	.col-menu{
		display: none;
	}
	
	.category_menu_overflow{
		/*overflow-x: scroll;*/
		/* overflow-y: hidden; */
	}
}

@media screen and (min-width:768px) and (max-width:1439px){
	.akse_product_name{
		min-height:4.5em;
	}
}

@media screen and (max-width: 1024px){
	.foot_cons2:first-child {
    	width: 40% !important;
    	margin-right: 60%;
 	}
}

@media screen and (min-width: 1024px) and (max-width:1439px) {
	.cart_container{
		margin-left:1%;
		margin-right:1%;
	}

	.cart_name_pro {
		font-size:1em;
	}

	.cart_category{
		font-size:0.8em;
	}

	.cart_subcategory{
		font-size:0.8em;
	}
}

@media screen and (max-width: 1337px) {
	.head1_ul li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
		/* height: fit-content; */
	}

	.abo_con_img{
		width: 16.6666666%; /* Fallback */
		width: -webkit-calc(100% / 6);
		width: calc(100% / 6);
	}

	.akse_product_con{
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	.akse_product_con2{
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}

	/*.home_cat{
		width:25%;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}*/

	/*.home_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}*/

/*	.cat_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}*/

/*	.flt_product_con{
		width:25% !important;
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}*/

	.foot_cons{
		width:25% !important;
	}

	.foot_cons2{
		width: 30% !important;
	}
}

@media screen and (max-width: 1023px) {
	/* Clarity */
	.home_als img{
		margin-bottom:15px;
	}

	.home_als_tl{
		text-align:center;
	}
	/* End Clarity */

	.head1_ul li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}

	.abo_con_img{
		width: 16.6666666%; /* Fallback */
		width: -webkit-calc(100% / 6);
		width: calc(100% / 6);
	}

	.akse_product_con{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	.akse_product_con2{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

	/*.home_cat{
		width:50% !important;
	}*/

	/*.home_product_con{
		width:50% !important;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}*/

	/*.cat_product_con{
		width:33.3333333% !important;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}*/
/*
	.flt_product_con{
		width:33.3333333% !important;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}*/

	.foot_cons{
		width:50% !important;
	}

	.foot_cons2{
		width:100% !important;
	}

	.product_stock_av{
		display:block !important;
		margin-left:0;
	}

	.cart_container{
		margin-left:0;
		margin-right:0;
	}

	.cart_head {
		display:none;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	/* Clarity */
	.kontak_kami{
		width: 35%;
	}

	#home_banner_text p{
		font-size:1.6em;
	}
	/* End Clarity */

	.quantity-selector{
		text-align:left;
	}

	.cart_span{
		text-align:right !important;
	}

	.cart_button{
		margin-left:10px;
	}
}

@media screen and (max-width: 424px) {
	.head1_ul li {
		width:100%;
	}

	/*.home_cat{
		width:100% !important;
	}*/

	/*.home_product_con{
		width:100% !important;
	}*/

	.foot_cons{
		width:100% !important;
	}

	.foot_cons2{
		width:100% !important;
	}
}

@media screen and (min-width:768px) and (max-width:1468px){
	.quantity-selector .entry.number-minus{
	    margin-top: 1%;
	}

	.product_icon_n{
		margin-top:1%;
	}

	.product_icon_y{
		margin-top:1%;
	}
}

@media screen and (min-width:768px){
	.cat_abso{
		display:flex;
	   	display: -webkit-flex;
	}
}

@media screen and (max-width:767px) {
	/* Clarity */
	.address_dt p {
		margin-bottom: 0;
		font-size: 0.8em;
	}
	.kontak_kami{
		width: 65%;
	}
	.login_cons{
		padding:5%;
	}

	.regis_cons{
		padding:5%;
	}

	.regis_col1{
		margin-top:30px;
		margin-bottom:30px;
	}

	.regis_col2{
		margin-bottom:30px;
	}

	.reg_link{
		margin-top:15px;
	}

	.reg_txt img{
		margin-bottom:30px;
	}

	.reg_text1{
		text-align:center;
	}

	.swiper-pagination-bullet{
		width:2em;
	}

	.home_als_con{
		margin-bottom:35px;
	}

	.home_product_disc_none{
		display:none !important;
	}

	.home_cat_cons{
		margin-bottom:30px;
	}

	.home_terbaru_tl{
		margin-bottom:10%;
	}

	.home_product_con{
		margin-bottom:8%;
	}

	#home_banner_text p{
		font-size:0.8em;
	}

	.cat_absoR span{
		margin:auto 0 15px auto;
	}

	.cat_absoL{
		margin-top:15px;
	}

	.product_l{
		padding:30px;
	}
	/* End Clarity */

	.head_3_mn{
		display:none;
	}

	/*.home_cat{
		width:100% !important;
	}*/

	/*.home_product_con{
		width:100% !important;
	}*/

	/*.cat_product_con{
		width:100% !important;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}*/

	/*.flt_product_con{
		width:100% !important;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}*/

	.foot_cons{
		width:100% !important;
	}

	.foot_cons2{
		width:100% !important;
	}
/*
	.product_img_disc{
		margin-left: 5%;
	}*/

	.home_bn2_con{
		padding-bottom:0;
	}

	.home_bn2_con img{
		margin-bottom:15px;
	}

	.abo_con_img{
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}

	.akse_product_con{
		width: 100%; /* Fallback */
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.akse_product_con2{
		width: 100%; /* Fallback */
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}

	.cart_category{
		font-size:0.8em !important;
	}

	.cart_subcategory{
		font-size:0.8em !important;
	}

	.cart_name_pro{
		font-size:0.9em !important;
		margin-bottom:15px;
	}

	.cart_span{
		margin-top:15px;
	}

	.img_cus1{
		margin-bottom:15px;
	}

	.head_2_cr2_btn1{
		margin-bottom:10px;
	}

	.akse_price{
		position:relative;
		bottom:0;
	}

	.akse_product_name{
		min-height:0;
	}

	.hd_shop_login5{
		margin-top:15px;
		text-align:center;
	}

	.head_2_cr1{
		text-align:center;
	}
/* End Media Screen */ 